@import "https://eclipse.dev/eclipse.org-common/themes/solstice/public/stylesheets/astro.min.css?v0.0.272";
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";


.breadcrumbs-default-margin {
	margin-bottom: 5px;
}

.header_nav {
	padding-bottom: 5px;
}

#copyright {
	padding-left: 0;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

tr:nth-child(even) {
	background-color: whitesmoke;
}

tr:hover {
	background-color: gainsboro;
}

th {
	background-color: lightsteelblue;
}

th,
td {
	text-align: start;
	padding: 5px;
}