@import "https://eclipse.dev/eclipse.org-common/themes/solstice/public/stylesheets/astro.min.css?v0.0.272";
@import "https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";

:root {
	interpolate-size: allow-keywords;
	--marker-error: red;
	--marker-warning: orange;
	--marker-info: dodgerblue;
	--marker-task: dodgerblue;
}

.breadcrumbs-default-margin {
	margin-bottom: 5px;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

tr {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

tr:nth-child(even) {
	background-color: whitesmoke;
}

tr:nth-child(even of .collapsible-table-main-row) {
	background-color: whitesmoke;
}

tr.no-zebra-striping {
	background-color: transparent;
	border: none;
}

tr.collapsible-table-main-row:hover,
tr:hover {
	background-color: gainsboro;
}

th {
	background-color: lightsteelblue;
}

th,
td {
	text-align: start;
	padding: 5px;
}

ul {
	list-style-type: square;
}

code {
	background-color: lavender;
	color: darkslategray;
	border-radius: 2px;
}

/* table of content */

li.toc-item {
	padding: 3px;
	list-style-type: none;
}

li.toc-item:hover {
	background-color: gainsboro;
}

li.toc-item a {
	/*Supress styling of links in TOC items*/
	color: inherit;
	text-decoration: none;
}

/* Pop-up dialog*/

.details-icon {
	/*darker steelblue*/
	color: rgb(48, 89, 122);
	background: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	/* Circle as border*/
	border: 2.5px solid currentColor;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	font-size: 0.9em;

	margin-left: 0.3em;
}

dialog.details-popup {
	border: none;
	border-radius: 2px;
	padding: 2em;
	position: fixed;
}

dialog.details-popup::backdrop {
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(3px);
}

dialog.details-popup button.close-btn {
	position: absolute;
	top: 0.25em;
	right: 0.25em;
	line-height: 1;
	font-size: 2.5em;
	padding: 0;
	border: none;
	background: none;
	color: dimgray;
}

dialog.details-popup button.close-btn:hover {
	color: black;
}

/* Details sections */

details {
	background-color: whitesmoke;
}

details summary {
	font-weight: bold;
	background-color: lightsteelblue;
	padding: 5px;
	cursor: pointer;
	/* Ensure state triangle in closed state */
	display: list-item;
	list-style-type: disclosure-closed;
}

details[open] summary {
	/* Ensure state triangle in open state */
	list-style-type: disclosure-open;
}

details summary:hover {
	color: white;
	background-color: #4B78B4;
}

/* Slide down/up animation when opening/closing details */
details::details-content {
	transition: height 0.5s ease, opacity 0.5s ease;
	height: 0;
	opacity: 0;
	overflow: hidden;
}

details[open]::details-content {
	height: auto;
	opacity: 1;
}

/* Miscellaneous */

.error-message-box {
	background-color: #ffdddd;
	border-left: 6px solid crimson;
	padding: 5px;
}

.single-line-truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.file-hash-value {
	/* A brighter lavender: */
	background-color: #f2f2fc;
	min-width: 3em;
	flex: 1 1 5em;
	padding: 1px;
	padding-left: 4px;
}

/* Collapsibles/accordion tables */
.collapsible-table-main-row {
	cursor: pointer;
}

.collapsible-table-details-row td {
	/*remove padding from details row's cells so it can collapse fully.*/
	padding: 0;
}

.collapsible-table-animation-wrapper {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.5s ease-out;
}

/*Use a grid wrapper to transition from 0fr (closed) to 1fr (open).*/

.collapsible-table-animation-wrapper.open {
	grid-template-rows: 1fr;
}

.collapsible-table-details-content {
	padding: 15px;
	border-left: 4px solid lightsteelblue;
	background-color: white;
}

.data-loader-spinner {
	width: 20px;
	height: 20px;
	border: 3px solid #DDD;
	border-top: 3px solid lightsteelblue;
	border-radius: 50%;
	animation: spinner-spin 1.5s linear infinite;
}

@keyframes spinner-spin {
	100% {
		transform: rotate(360deg);
	}
}

.copy-icon {
	border: none;
	background: none;
	cursor: pointer;
}

.copy-icon:hover {
	transform: scale(1.2);
}

/*Code editor*/
.code-editor-box {
	display: flex;
	align-items: center;
	background-color: white;
	border: 1px solid lightgray;
	font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

.code-editor-line {
	background-color: whitesmoke;
	color: gray;
	padding: 8px 3px;
	border-right: 1px solid lightgray;
	text-align: right;
	min-width: 30px;
}

.code-editor-content {
	padding: 8px 7px;
	overflow-x: auto;
	white-space: nowrap;
}

.code-marker {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-thickness: 1.1px;
}