<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php
//ini_set("display_errors", "true");
//error_reporting (E_ALL);

include("buildproperties.php");

if (array_key_exists("SERVER_NAME", $_SERVER)) {
    $servername = $_SERVER["SERVER_NAME"];
    if ($servername === "build.eclipse.org") {
        $imagesource="http://download.eclipse.org/eclipse.org-common/themes/Phoenix/images";
        $csssource="http://download.eclipse.org/eclipse.org-common//themes/Phoenix/css";
        $clickthroughstr="";
    }
    else {
        $imagesource="../../../eclipse.org-common/stylesheets";
        $csssource="../../../eclipse.org-common/stylesheets";
        $clickthroughstr="download.php?dropFile=";

    }
}
else {
    $servername = "localhost";
    $imagesource="http://download.eclipse.org/eclipse.org-common/themes/Phoenix/images";
    $csssource="http://download.eclipse.org/eclipse.org-common//themes/Phoenix/css";
    $clickthroughstr="";
}

?>
<head>
        <title>Eclipse Project</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="author" content="Eclipse Foundation, Inc." />
        <meta name="keywords" content="eclipse,project,plug-ins,plugins,java,ide,swt,refactoring,free java ide,tools,platform,open source,development environment,development,ide" />
        <link rel="stylesheet" type="text/css" href="<?php echo $csssource;?>/visual.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="<?php echo $csssource;?>/layout.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="<?php echo $csssource;?>/print.css" media="print" />
<script type="text/javascript">

sfHover = function() {
    var sfEls = document.getElementById("leftnav").getElementsByTagName("LI");
    for (var i=0; i<sfEls.length; i++) {
        sfEls[i].onmouseover=function() {
            this.className+=" sfhover";
        }
        sfEls[i].onmouseout=function() {
            this.className=this.className.replace(new RegExp(" sfhover\\b"), "");
        }
    }
}
if (window.attachEvent) window.attachEvent("onload", sfHover);
</script>
</head>
<body>

<div id="header">
    <a href="http://www.eclipse.org/"><img src="<?php echo $imagesource;?>/header_logo.gif" width="163" height="68" border="0" alt="Eclipse Logo" class="logo" /></a>
    <div id="searchbar">
        <img src="<?php echo $imagesource;?>/searchbar_transition.gif" width="92" height="26" class="transition" alt="" />
        <img src="<?php echo $imagesource;?>/searchbar_header.gif" width="64" height="17" class="header" alt="Search" />
        <form method="get" action="http://www.eclipse.org/search/search.cgi">
            <input type="hidden" name="t" value="All" />
            <input type="hidden" name="t" value="Doc" />
            <input type="hidden" name="t" value="Downloads" />
            <input type="hidden" name="t" value="Wiki" />
            <input type="hidden" name="wf" value="574a74" />
            <input type="text" name="q" value="" />
            <input type="image" class="button" src="<?php echo $imagesource;?>/searchbar_submit.gif" alt="Submit" onclick="this.submit();" />
        </form>
    </div>
    <ul id="headernav">
        <li class="first"><a href="http://www.eclipse.org/org/foundation/contact.php">Contact</a></li>
        <li><a href="http://www.eclipse.org/legal/">Legal</a></li>
    </ul>


</div>
<?php if (! isset ($BUILD_FAILED) ) { ?>

<div id="leftcol">
<ul id="leftnav">
<li><a href="#Repository">Eclipse p2 Repository</a></li>
<li><a href="#EclipseSDK">Eclipse SDK</a></li>
<li><a href="#JUnitPlugin">JUnit Plugin Tests and Automated Testing Framework</a></li>
<li><a href="#ExamplePlugins">Example Plug-ins</a></li>
<li><a href="#RCPRuntime">RCP Runtime Binary</a></li>
<li><a href="#RCPSDK">RCP SDK</a></li>
<li><a href="#DeltaPack">Delta Pack</a></li>
<li><a href="#com.ibm.icu">com.ibm.icu.base Binary and Source Plug-ins</a></li>
<li><a href="#PlatformRuntime">Platform Runtime Binary</a></li>
<li><a href="#JDTRuntime">JDT Runtime Binary</a></li>
<li><a href="#JDTSDK">JDT SDK</a></li>
<li><a href="#JDTCORE">JDT Core Batch Compiler</a></li>
<li><a href="#PDERuntime">PDE Runtime Binary</a></li>
<li><a href="#PDESDK">PDE SDK</a></li>
<li><a href="#CVSRuntime">CVS Runtim</a></li>
<li><a href="#CVSSDK">CVS SDK</a></li>
<li><a href="#SWT">SWT binary and Source</a></li>
<li><a href="#org.eclipse.releng">Releng Tools</a></li>
</ul>

</div>
<!-- end 'not build failed' -->
<?php } ?>


<div id="midcolumn">
    <table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" >
    <tr>
        <td>
           <b><font face="Verdana" size="+3">Eclipse <?php echo $STREAM; ?> <?php echo $BUILD_TYPE_NAME; ?> Build: <?php echo $BUILD_ID; ?></font></b>
        </td>
        <tr>
        <tr>
<?php
if (file_exists("pom_updates/index.html")) {
    echo "<tr><td width=\"75%\"><font size=\"+1\">";
    echo "<a href=\"pom_updates/\"><b>POM updates made</b></a></font></td></tr>";
}
?>
<?php
// check if test build only, just to give warning of oversite. 
// see bug 404545
if (isset($testbuildonly) && ($testbuildonly)) {
    echo "<tr><td width=\"75%\">\n";
    echo "<font size=\"+1\">\n";
    echo "Test-Build-Only flag found set. Input was not tagged.\n";
    echo "</font>\n";
    echo "</td></tr>\n";
}
?>
<?php
if (file_exists("news/")) {
    echo "<tr><td width=\"75%\"><font size=\"+1\">";
    echo "<a href=\"news/\"><b>New and Noteworthy</b></a></font></td></tr>";
}


if (isset ($BUILD_FAILED) ) {
    echo "<tr><td width=\"75%\"><font size=\"+1\">";
    echo "Build Failed. See <a href=\"buildlogs.php\">logs</a>. <br />\n";
    $PATTERN='!(.*)(/buildlogs/)(.*)!';
    $result = preg_match($PATTERN, $BUILD_FAILED, $MATCHES);
    // cheap short cut, since we expect only 1 such file
    $summaryFile=glob("buildFailed-*");
    if ($result !== FALSE) {
        $SPECIFIC_LOG=$MATCHES[3];
        echo "Specifically, see <a href=\"buildlogs/$SPECIFIC_LOG\">the log with errors</a>, \n";
        echo "or a <a href=\"$summaryFile[0]\">summary</a>. <br /> \n";
        echo "Or see traditional <a href=\"testResults.php\">Compile Logs</a> (if any). \n";
    } 
    echo "</td><tr>";
    // early end to table, since build failed is all we'll print.
    echo "</table>";
    
    
}
else {
?>
    <tr>
        <td width="75%">
                The page provides access to the various sections of Eclipse Platform build along with details
                relating to its results and unit tests.
        </td>
     </tr>
   </table>


    <div>
    <table BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%" > 
<?php
//$servername = $_SERVER["SERVER_NAME"];
if (! preg_match("/.eclipse.org/i",$servername)) {
    echo "<tr> To download a file via HTTP click on its corresponding http link below.";			
} else {
    echo "<tr>";
} ?>
    </table>
    </div>

    <div class="homeitem">
    <h3>Related Links</h3>
    <ul class="midlist">

<?php
    $testResultsStatus = "%testsStatus%";
if($testResultsStatus == "pending") {
    echo "<li><a title=\"Tests are pending\" href=\"testResults.php\">View the <b>test results</b> for the current build.</a></li>";
}
else if($testResultsStatus == "successful") {
    echo "<li><a title=\"Test results have no failures\" href=\"testResults.php\">View the <b><font color=\"#00FF00\">test results</font></b> for the current build.</a></li>";	
}
else if($testResultsStatus == "failed") {
    echo "<li><a title=\"Test results have failures\" href=\"testResults.php\">View the <b><font color=\"#FF0000\">test results</font></b> for the current build.</a></li>";	
}
else {
    echo "<li><a href=\"testResults.php\">View the <b>test results</b> for the current build.</a></li>";
}
if (file_exists("performance/performance.php")) {
    echo "<li>";
    $generated=file_exists("performance/global_fp.php");
    if (!$generated) echo "<i>";
    echo "<a href=\"performance/performance.php\">View the <b>performance results</b> for the current build.</a>";
    if (!$generated) echo "</i>";
    echo "</li>";
}
?>

        <li><a href="directory.txt">View the repositories used for the current build.</a></li>
        <li><a href="buildNotes.php">View build notes for the current build.</a></li>
        <li><a href="http://wiki.eclipse.org/Platform-releng/How_to_check_integrity_of_downloads">How to verify a download</a></li>
        </ul>
    </div>

<hr class="clearer" />
</div>

<?php

function column($servername) {

    echo "<td width=\"7%\"><b>Download</b></td>";
    echo "<td width=\"7%\"><b>Size</b></td>";
    echo "<td width=\"37%\"><b>File</b></td>";
    echo "<td width=\"11%\"><b>Checksum</b></td>";
    return;
}

function getDropSize($zipfile) {

    $filesize = "N/A";
    $filesizebytes  = filesize($zipfile);
    if($filesizebytes > 0) {
        if($filesizebytes < 1048576)
            $filesize = round($filesizebytes / 1048576, 2) . " MB";
        else if ($filesizebytes >= 1048576 && $filesizebytes < 10485760)
            $filesize = round($filesizebytes / 1048576, 1) . " MB";
        else
            $filesize = round($filesizebytes / 1048576, 0) . " MB";
    }
    return($filesize);
}

function genLinks($servername,$BUILD_ID,$zipfile) {

    global $clickthroughstr;

    $httplink = "$clickthroughstr$zipfile";
    $httplabel = "(http)";
    $httpline =  "<div align=\"left\"><a href=\"$httplink\">$httplabel</a>";
    $filesize = getDropSize($zipfile);

    echo "$httpline";
    echo "&nbsp;&nbsp";
    echo "<td>$filesize</td>";
    echo "<td>$zipfile</td>";
    // make relative so works on build.eclipse.org
    //echo "<td><a href=\"http://download.eclipse.org/eclipse/downloads/drops/$BUILD_ID/checksum/$zipfile.md5\">(md5)</a>";
    //echo " <a href=\"http://download.eclipse.org/eclipse/downloads/drops/$BUILD_ID/checksum/$zipfile.sha1\">(sha1)</a>";
    echo "<td><a href=\"./checksum/$zipfile.md5\">(md5)</a>";
    echo " <a href=\"./checksum/$zipfile.sha1\">(sha1)</a>";
}
?>	

<table align="left" BORDER=0 CELLSPACING=5 CELLPADDING=2 WIDTH="100%">

<tr><td><div class="homeitem3col">
<h3><a name="Repository"> Eclipse p2 Repository&nbsp;<a href="details.html#Repository"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >

<?php
$streamArr = explode(".", $STREAM);
$STREAM_MAJOR = $streamArr[0];
$STREAM_MINOR = $streamArr[1];
$STREAM_SERVICE = $streamArr[2];

// We expect $BUILD_ID to be defined in buildproperties.php
// But it can be defined several times in reference URI, such as once in directory name, 
// and once in filename. We want the directory-like part.
// And to complicate things, in S and R builds, the segment is no longer BUILD_ID, 
// but a more complicated concatination. 
if ($BUILD_TYPE === "N" || $BUILD_TYPE === "I" || $BUILD_TYPE === "M" || $BUILD_TYPE === "P" || $BUILD_TYPE === "X" || $BUILD_TYPE === "Y") {
    $STREAM_REPO_NAME=$STREAM_MAJOR.".".$STREAM_MINOR."-".$BUILD_TYPE."-"."builds";
} else {
    if ($BUILD_TYPE === "S") {
        $STREAM_REPO_NAME=$STREAM_MAJOR.".".$STREAM_MINOR."milestones";
    } else {
        if ($BUILD_TYPE === "R") {
            $STREAM_REPO_NAME=$STREAM_MAJOR.".".$STREAM_MINOR;
        }
        else {
            echo "Unexpected value of BUILD_TYPE: $BUILD_TYPE. <br />";
            // We'll make an assumption that might work. 
            $STREAM_REPO_NAME=$STREAM_MAJOR.".".$STREAM_MINOR."-".$BUILD_TYPE."-"."builds";
        }
    }
}

$STREAM_REPO_URL="http://download.eclipse.org/eclipse/updates/".$STREAM_REPO_NAME;

$pos = strpos($BUILD_ID, "RC");
if ($pos === false) {
    $isRC = false;
} else { 
    $isRC = true;
}

// There are two types of M builds, some RCs, some not.
if ($BUILD_TYPE === "N" || $BUILD_TYPE === "I" || $BUILD_TYPE === "P" || $BUILD_TYPE === "X" || $BUILD_TYPE === "Y" || ($BUILD_TYPE === "M" && ! $isRC)) {
    $BUILD_REPO_NAME=$STREAM_REPO_NAME."/".$BUILD_ID;
} else {
    $timestamp = str_replace('-', '', $TIMESTAMP);
    if ($BUILD_TYPE === "S" || $BUILD_TYPE === "R" || ($BUILD_TYPE === "M" && $isRC)) {
        $BUILD_REPO_NAME=$STREAM_REPO_NAME."/".$BUILD_TYPE."-".$BUILD_ID."-".$timestamp;
    } else {
        echo "Unexpected value of BUILD_TYPE: $BUILD_TYPE. <br />\n";
        // We'll make an assumption that might work. 
        $BUILD_REPO_NAME=$STREAM_REPO_NAME."/".$BUILD_ID;
    }
}

$BUILD_REPO_URL="http://download.eclipse.org/eclipse/updates/".$BUILD_REPO_NAME;
// checking for existence is especially important for BUILD_REPOs, since they might have been removed. 
// but we do it here too for sanity check. 
// relative patch can be either 3 or 4 "up", depending on if on downloads, or build machine. 
// either can be used to "prove existance".
$relativePath4="../../../..";
$relativePath3="../../..";
if ((file_exists("$relativePath3/updates/".$STREAM_REPO_NAME)) || (file_exists("$relativePath4/updates/".$STREAM_REPO_NAME))) {
    echo "<tr> \n";
    echo "<p>To update your Eclipse installation to this development stream, you can use the software repository at<br />\n";
    echo "&nbsp;&nbsp;<a href=\"$STREAM_REPO_URL\">$STREAM_REPO_URL</a><br />\n";
    echo "</tr> \n";
} 
if ((file_exists("$relativePath3/updates/"."$BUILD_REPO_NAME")) || (file_exists("$relativePath4/updates/"."$BUILD_REPO_NAME")) ) {
    echo "<tr> \n";
    echo "<p>To update your build to use this specific build, you can use the software repository at<br />\n";
    echo "&nbsp;&nbsp;<a href=\"$BUILD_REPO_URL\">$BUILD_REPO_URL</a><br />\n";
    echo "</tr> \n";
}
?>

</table>

<tr><td><div class="homeitem3col">
<h3><a name="EclipseSDK"> Eclipse SDK&nbsp;<a href="details.html#EclipseSDK"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %sdk% </table><?php

?>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="JUnitPlugin"> JUnit Plugin Tests and Automated Testing Framework&nbsp;<a href="details.html#JUnitPlugin"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %tests% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="ExamplePlugins"> Example Plug-ins&nbsp;<a href="details.html#ExamplePlugins"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %example% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="RCPRuntime"> RCP Runtime Binary&nbsp;<a href="details.html#RCPRuntime"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %rcpruntime% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="RCPSDK"> RCP SDK&nbsp;<a href="details.html#RCPSDK"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %rcpsdk% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="DeltaPack"> DeltaPack&nbsp;<a href="details.html#DeltaPack"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %deltapack% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="com.ibm.icu"> com.ibm.icu.base binary and source Plug-ins&nbsp;<a href="details.html#com.ibm.icu"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<TABLE BORDER=0 CELLSPACING=2 CELLPADDING=0 WIDTH="99%" BORDERCOLOR="#999999" >
<?php $icubasefiles = glob('com.ibm.icu.base*');
//http://www.php.net/manual/en/function.glob.php#102691
if (is_array($icubasefiles) && sizeof($icubasefiles) > 0) { ?>
<TR> <TD ALIGN=RIGHT VALIGN=TOP WIDTH="5%"> <DIV ALIGN="left"><B>Status</B></DIV></TD><TD WIDTH="36%"><B>Platform</B></TD><?php column($_SERVER["SERVER_NAME"]); ?>
</TR>       
    %icubase% 
<?php } else { ?>
    <tr><td>
    <p>ICU4J (bundle named com.ibm.icu) provides advanced Unicode and Globalization support for
software applications. The full version is included in the Eclipse SDK. 
For those that do not need that support and
need a smaller footprint when building their own products, there is a subset of ICU4J, "com.ibm.icu.base" available 
from <a href="http://download.eclipse.org/tools/orbit/downloads/">Orbit Downloads</a>. [That subset 
used to be provided on this Eclipse download page but was removed to avoid 
unnecessary duplication (see <a href="https://bugs.eclipse.org/bugs/show_bug.cgi?id=395003">bug 395003</a>).]</p>
</td></tr>
<?php } ?>

</TABLE>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="PlatformRuntime"> Platform Runtime Binary&nbsp;<a href="details.html#PlatformRuntime"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %runtime% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="JDTRuntime"> JDT Runtime Binary&nbsp;<a href="details.html#JDTRuntime"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %jdt% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="JDTSDK"> JDT SDK &nbsp;<a href="details.html#JDTSDK"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %jdtsdk% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="JDTCORE"> JDT Core Batch Compiler &nbsp;<a href="details.html#JDTCORE"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %jdtc% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="PDERuntime"> PDE Runtime Binary&nbsp;<a href="details.html#PDERuntime"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %pde% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="PDESDK"> PDE SDK&nbsp;<a href="details.html#PDESDK"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
%pdesdk% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="CVSRuntime"> CVS Client Runtime Binary&nbsp;<a href="details.html#CVSRuntime"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %cvs% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="CVSSDK"> CVS Client SDK&nbsp;<a href="details.html#CVSSDK"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
%cvssdk% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="SWT"> SWT Binary and Source&nbsp;<a href="details.html#SWT"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %swt% </table>
</div></td></tr>

<tr><td><div class="homeitem3col">
<h3><a name="org.eclipse.releng"> org.eclipse.releng.tools plug-in&nbsp;<a href="details.html#org.eclipse.releng"><img src="../../../eclipse.org-common/stylesheets/more.gif" title="More..." alt="[More]"></a></h3>
<table border=0 cellspacing=2 cellpadding=0 width="99%" bordercolor="#999999" >
<tr> <td align=RIGHT valign=TOP width="5%"> <div align="left"><b>Status</b></div></td><td width="36%"><b>Platform</b></td><?php column($servername); ?>
</tr> %relengtools% </table>
</div></td></tr>
</table>
<p><br /></p>
<?php } ?>
<div id="footer">
    <ul id="footernav">
        <li class="first"><a href="http://www.eclipse.org">Home</a></li>
        <li><a href="http://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
        <li><a href="http://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
        <li>Downloads provided under the <a href="http://www.eclipse.org/legal/epl/notice.html">Eclipse Foundation Software User Agreement</a></li>
    </ul>
    <p>Copyright &copy; 2006-2013 The Eclipse Foundation. All Rights
Reserved</p>
</div>
</body>
</html>
