bin/
TMP/m2repo/
settings.xml
setup.sh
*~
*.bak
workspace/
.metadata/
RemoteSystemsTempFiles/
/apiAnalyzer-workspace/
eclipse.platform.common/bundles/org.eclipse.platform.doc.isv/samples/*/doc-html
/tools/

# Maven/Tycho build artifats
target/
.polyglot.*
pom.tycho
