# Touched, for Bug 398016 - [CBI] How to coordinate (or not) submodules with Git and EGit
[submodule "eclipse.jdt"]
	path = eclipse.jdt
	url = ../../jdt/eclipse.jdt
[submodule "eclipse.jdt.core"]
	path = eclipse.jdt.core
	url = ../../jdt/eclipse.jdt.core
[submodule "eclipse.jdt.core.binaries"]
	path = eclipse.jdt.core.binaries
	url = ../../jdt/eclipse.jdt.core.binaries
[submodule "eclipse.jdt.debug"]
	path = eclipse.jdt.debug
	url = ../../jdt/eclipse.jdt.debug
[submodule "eclipse.jdt.ui"]
	path = eclipse.jdt.ui
	url = ../../jdt/eclipse.jdt.ui
[submodule "eclipse.pde"]
	path = eclipse.pde
	url = ../../pde/eclipse.pde
[submodule "eclipse.pde.build"]
	path = eclipse.pde.build
	url = ../../pde/eclipse.pde.build
[submodule "eclipse.pde.ui"]
	path = eclipse.pde.ui
	url = ../../pde/eclipse.pde.ui
[submodule "eclipse.platform"]
	path = eclipse.platform
	url = ../eclipse.platform
[submodule "eclipse.platform.common"]
	path = eclipse.platform.common
	url = ../eclipse.platform.common
[submodule "eclipse.platform.debug"]
	path = eclipse.platform.debug
	url = ../eclipse.platform.debug
[submodule "eclipse.platform.releng"]
	path = eclipse.platform.releng
	url = ../eclipse.platform.releng.git
[submodule "eclipse.platform.resources"]
	path = eclipse.platform.resources
	url = ../eclipse.platform.resources
[submodule "eclipse.platform.runtime"]
	path = eclipse.platform.runtime
	url = ../eclipse.platform.runtime
[submodule "eclipse.platform.swt"]
	path = eclipse.platform.swt
	url = ../eclipse.platform.swt.git
[submodule "eclipse.platform.swt.binaries"]
	path = eclipse.platform.swt.binaries
	url = ../eclipse.platform.swt.binaries.git
[submodule "eclipse.platform.team"]
	path = eclipse.platform.team
	url = ../eclipse.platform.team
[submodule "eclipse.platform.text"]
	path = eclipse.platform.text
	url = ../eclipse.platform.text
[submodule "eclipse.platform.ua"]
	path = eclipse.platform.ua
	url = ../eclipse.platform.ua
[submodule "eclipse.platform.ui"]
	path = eclipse.platform.ui
	url = ../eclipse.platform.ui
[submodule "rt.equinox.binaries"]
	path = rt.equinox.binaries
	url = ../../equinox/rt.equinox.binaries.git
[submodule "rt.equinox.bundles"]
	path = rt.equinox.bundles
	url = ../../equinox/rt.equinox.bundles
[submodule "rt.equinox.framework"]
	path = rt.equinox.framework
	url = ../../equinox/rt.equinox.framework
[submodule "rt.equinox.p2"]
	path = rt.equinox.p2
	url = ../../equinox/rt.equinox.p2
