# Touched, for Bug 398016 - [CBI] How to coordinate (or not) submodules with Git and EGit
[submodule "eclipse.jdt"]
  path = eclipse.jdt
  url = https://git.eclipse.org/r/jdt/eclipse.jdt
[submodule "eclipse.jdt.core"]
  path = eclipse.jdt.core
  url = https://git.eclipse.org/r/jdt/eclipse.jdt.core
[submodule "eclipse.jdt.core.binaries"]
  path = eclipse.jdt.core.binaries
  url = https://git.eclipse.org/r/jdt/eclipse.jdt.core.binaries
[submodule "eclipse.jdt.debug"]
  path = eclipse.jdt.debug
  url = https://git.eclipse.org/r/jdt/eclipse.jdt.debug
[submodule "eclipse.jdt.ui"]
  path = eclipse.jdt.ui
  url = https://git.eclipse.org/r/jdt/eclipse.jdt.ui
[submodule "eclipse.pde.build"]
  path = eclipse.pde.build
  url = https://git.eclipse.org/r/pde/eclipse.pde.build
[submodule "eclipse.pde.ui"]
  path = eclipse.pde.ui
  url = https://git.eclipse.org/r/pde/eclipse.pde.ui
[submodule "eclipse.platform"]
  path = eclipse.platform
  url = ../eclipse.platform.git
[submodule "eclipse.platform.common"]
  path = eclipse.platform.common
  url = ../eclipse.platform.common.git
[submodule "eclipse.platform.debug"]
  path = eclipse.platform.debug
  url = https://git.eclipse.org/r/platform/eclipse.platform.debug
[submodule "eclipse.platform.releng"]
  path = eclipse.platform.releng
  url = ../eclipse.platform.releng.git
[submodule "eclipse.platform.resources"]
  path = eclipse.platform.resources
  url = https://git.eclipse.org/r/platform/eclipse.platform.resources
[submodule "eclipse.platform.runtime"]
  path = eclipse.platform.runtime
  url = https://git.eclipse.org/r/platform/eclipse.platform.runtime
[submodule "eclipse.platform.swt"]
  path = eclipse.platform.swt
  url = https://git.eclipse.org/r/platform/eclipse.platform.swt.git
[submodule "eclipse.platform.swt.binaries"]
  path = eclipse.platform.swt.binaries
  url = https://git.eclipse.org/r/platform/eclipse.platform.swt.binaries.git
[submodule "eclipse.platform.team"]
  path = eclipse.platform.team
  url = ../eclipse.platform.team.git
[submodule "eclipse.platform.text"]
  path = eclipse.platform.text
  url = https://git.eclipse.org/r/platform/eclipse.platform.text
[submodule "eclipse.platform.ua"]
  path = eclipse.platform.ua
  url = https://git.eclipse.org/r/platform/eclipse.platform.ua
[submodule "eclipse.platform.ui"]
  path = eclipse.platform.ui
  url = https://git.eclipse.org/r/platform/eclipse.platform.ui
[submodule "rt.equinox.binaries"]
  path = rt.equinox.binaries
  url = https://github.com/eclipse-equinox/equinox.binaries.git
[submodule "rt.equinox.bundles"]
  path = rt.equinox.bundles
  url = https://github.com/eclipse-equinox/equinox.bundles.git
[submodule "rt.equinox.framework"]
  path = rt.equinox.framework
  url = https://github.com/eclipse-equinox/equinox.framework.git
[submodule "rt.equinox.p2"]
  path = rt.equinox.p2
  url = https://github.com/eclipse-equinox/p2.git
[submodule "eclipse.platform.ui.tools"]
  path = eclipse.platform.ui.tools
  url = ../eclipse.platform.ui.tools.git
