[submodule "eclipse.jdt"]
  path = eclipse.jdt
  url = https://github.com/eclipse-jdt/eclipse.jdt.git
  branch = master
[submodule "eclipse.jdt.core"]
  path = eclipse.jdt.core
  url = https://github.com/HannesWell/eclipse.jdt.core.git
  branch = fix-javadoc-error
[submodule "eclipse.jdt.core.binaries"]
  path = eclipse.jdt.core.binaries
  url = https://github.com/eclipse-jdt/eclipse.jdt.core.binaries.git
  branch = master
[submodule "eclipse.jdt.debug"]
  path = eclipse.jdt.debug
  url = https://github.com/eclipse-jdt/eclipse.jdt.debug.git
  branch = master
[submodule "eclipse.jdt.ui"]
  path = eclipse.jdt.ui
  url = https://github.com/eclipse-jdt/eclipse.jdt.ui.git
  branch = master
[submodule "eclipse.pde"]
  path = eclipse.pde
  url = https://github.com/eclipse-pde/eclipse.pde.git
  branch = master
[submodule "eclipse.platform"]
  path = eclipse.platform
  url = https://github.com/eclipse-platform/eclipse.platform.git
  branch = master
[submodule "eclipse.platform.swt"]
  path = eclipse.platform.swt
  url = https://github.com/eclipse-platform/eclipse.platform.swt.git
  branch = master
[submodule "eclipse.platform.ui"]
  path = eclipse.platform.ui
  url = https://github.com/eclipse-platform/eclipse.platform.ui.git
  branch = master
[submodule "equinox.binaries"]
  path = equinox.binaries
  url = https://github.com/eclipse-equinox/equinox.binaries.git
  branch = master
[submodule "equinox"]
  path = equinox
  url = https://github.com/eclipse-equinox/equinox.git
  branch = master
[submodule "equinox.p2"]
  path = equinox.p2
  url = https://github.com/eclipse-equinox/p2.git
  branch = master
