bin/
settings.xml
*~
*.bak
workspace/
.metadata/
RemoteSystemsTempFiles/
eclipse.platform.common/bundles/org.eclipse.platform.doc.isv/samples/*/doc-html
/tools/

# Maven/Tycho build artifats
target/
.polyglot.*
pom.tycho
