<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<!-- Applications -->
   <extension
         id="basicResultsTable"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
            class="org.eclipse.test.performance.BasicResultsTable">
         </run>
      </application>
   </extension>

</plugin>
