<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================== -->
<!-- Declare the documentation for the Platform User Guide  -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin
   name = "%pluginName"
   id = "org.eclipse.platform.doc.user"
   version = "1.9.0"
   provider-name = "%providerName">


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="toc.xml" primary="true" />
   </extension>

<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="topics_GettingStarted.xml" />
       <toc file="topics_Concepts.xml" />
       <toc file="topics_Tasks.xml" />
       <toc file="topics_Reference.xml" />
   </extension>

<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_Workbench.xml" plugin="org.eclipse.ui"/> 
   </extension>

   <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_VCM.xml" plugin="org.eclipse.vcm.ui"/> 
   </extension>

   <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_VCM_CVS.xml" plugin="org.eclipse.vcm.ui.cvs"/> 
   </extension>

   <extension point="org.eclipse.help.contexts"> 
      <contexts file="contexts_Search.xml" plugin="org.eclipse.search"/> 
   </extension>


</plugin>
