<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is an &quot;abstract&quot; job, not intended be be ran, but simply to hold many common definitions that apply to all our other jobs on this platform, so it can be used in &quot;cascading jobs&quot;. </description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">false</originalValue>
        <propertyOverridden>true</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.BatchFile>
            <command>@echo off
SETLOCAL ENABLEEXTENSIONS ENABLEDELAYEDEXPANSION
echo start cleaning ...
IF NOT DEFINED WORKSPACE (
    echo ERROR: WORKSPACE variable was not defined.
    exit /B 1
    ) ELSE (
      IF NOT EXIST &quot;%WORKSPACE%&quot; (
        echo ERROR: WORKSPACE was defined but it did not exists.
        echo     It was defined as %WORKSPACE%
        exit /B 1
        ) ELSE (
          echo WORSPACE defined as %WORKSPACE%
          echo Will delete contents, for clean run.
          rem Note that rmdir and rm do not return ERRORLEVEL.
          rem Which is why we &quot;do while&quot; until count of files is zero.
          rem (or, until max loops is reached).
          set /a maxLoops=15
          echo maxLoops: !maxLoops!
          set /a sleepTime=60
          echo sleepTime: !sleepTime!
          set /a currentLoop=0

          set /a nFilesOrDirs=0
          for /D %%f in (&quot;%WORKSPACE%\*&quot;) do set /a nFilesOrDirs+=1
          for    %%f in (&quot;%WORKSPACE%\*&quot;) do set /a nFilesOrDirs+=1
          echo currentLoop: !currentLoop!   nFilesOrDirs:  !nFilesOrDirs!

          :LOOP
          IF !nFilesOrDirs! GTR 0 (
            rem this first for loop is for all subdirectories of workspace
            FOR /D %%p IN (&quot;%WORKSPACE%\*&quot;) DO (
              echo removing dir: %%p
              rmdir &quot;%%p&quot; /s /q
              )
            rem this for loop is for for all files remaining, directly under workspace
            FOR %%p IN (&quot;%WORKSPACE%\*&quot;) DO (
              echo deleting file: %%p
              del &quot;%%p&quot;  /q
              )
            set /a currentLoop+=1
            IF !currentLoop! GTR !maxLoops! GOTO MAXLOOPS
            set /a nFilesOrDirs=0
            for /D %%f in (&quot;%WORKSPACE%\*&quot;) do set /a nFilesOrDirs+=1
            for    %%f in (&quot;%WORKSPACE%\*&quot;) do set /a nFilesOrDirs+=1
            echo currentLoop: !currentLoop!   nFilesOrDirs:  !nFilesOrDirs!
            if !nFilesOrDirs! GTR 0 (
              rem Pause a bit before retrying, since if we could not delte, likely due to some process still running.
              C:\Windows\System32\timeout.exe /t !sleepTime! &gt; NUL
              GOTO LOOP
              )
            )
         )
     )
GOTO END

:MAXLOOPS
echo Reached max loops waiting for files to be free to delete
rem note use of &quot;hard exit&quot; (no /B) as attempt to get Hudson to fail.
exit 1
GOTO END


:END
echo ... ending cleaning
ENDLOCAL
</command>
          </hudson.tasks.BatchFile>
          <hudson.tasks.BatchFile>
            <command>rem May want to try and restrict path, as we do on cron jobs, so we
rem have more consistent conditions.
rem export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:~/bin

rem tmp must already exist, for Java to make use of it, in subsequent steps
rem no -p (or /p) needed on Windows. It creates 
mkdir tmp

# Note: currently this file always comes from master, no matter what branch is being built/tested.
wget -O getEBuilder.xml --no-verbose   http://git.eclipse.org/c/platform/eclipse.platform.releng.aggregator.git/plain/production/testScripts/hudsonBootstrap/getEBuilder.xml 2&gt;&amp;1
</command>
          </hudson.tasks.BatchFile>
          <hudson.tasks.Ant>
            <targets></targets>
            <antName>(Default)</antName>
            <antOpts>-Djava.io.tmpdir=${WORKSPACE}\tmp</antOpts>
            <buildFile>getEBuilder.xml</buildFile>
            <properties>buildId=${buildId}
eclipseStream=${eclipseStream}
EBUILDER_HASH=${EBUILDER_HASH}
osgi.os=win32
osgi.ws=win32
osgi.arch=x86
args=all</properties>
          </hudson.tasks.Ant>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>appointedNode</string>
      <base-property>
        <originalValue class="appointed-node-property">
          <nodeName>windows7tests</nodeName>
          <advancedAffinityChooser>false</advancedAffinityChooser>
          <canRoam>false</canRoam>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </base-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams</createdBy>
  <creationTime>1394317394367</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Update:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>ep-unit</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>windows2012tests</authToken>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>