<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tips.core.tips">
      <provider
            class="org.eclipse.jdt.tips.user.internal.JDTTipProvider"
            description="JDT Tips Provider"
            id="org.eclipse.jdt.tips.user">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.eclipse.jdt.ui.JavaPerspective">
               </equals>
            </with>
         </enablement>
      </provider>
   </extension>
</plugin>
