<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run Eclipse SDK Tests for 64 bit Mac (and 64 bit VM and Eclipse)</description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList">
          <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                <name>buildId</name>
                <description>Build Id to test (such as I20120717-0800, N20120716-2000). </description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>eclipseStream</name>
                <description>Full three fields of stream being tested (such as 4.3.0, 3.8.1, etc.)</description>
                <defaultValue>4.5.1</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>EBUILDER_HASH</name>
                <description>Branch or hash of eclipse builder to fetch.</description>
                <defaultValue>R4_5_maintenance</defaultValue>
              </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
          </hudson.model.ParametersDefinitionProperty>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </copy-write-list-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams</createdBy>
  <creationTime>1435785242749</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.ExtendedRead:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Delete:anonymous</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Update:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>ep-unit-mac64</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>windows2012tests</authToken>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>