<?xml version="1.0" encoding="UTF-8"?>

<!-- ===================================================== -->
<!-- Declare the documentation for the JDT ISV Guide       -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin
   name = "%pluginName"
   id = "org.eclipse.jdt.doc.isv"
   version = "1.0"
   provider-name = "Object Technology International, Inc.">


<!-- ============================================================================= -->
<!-- Define info set, its views, and the top level topics for each view            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contributions">
   	<infoset name="infoset_Guide.xml"/>
   </extension>

   <extension point="org.eclipse.help.contributions"> 
       <topics name="topics_view_Contents.xml"/>
       <actions name="actions_view_Contents.xml" />
   </extension>

<!-- ============================================================================= -->
<!-- Wire in content for contents view                                             -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.contributions"> 
       <topics name="topics_Guide.xml" />   
       <topics name="topics_Reference.xml" />   
       <topics name="topics_Questions.xml" />   
       <topics name="topics_Samples.xml" />   
       <actions name="actions_All.xml" />
   </extension>

</plugin>
