<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- ===================================================== -->
<!-- Declare the documentation for the JDT ISV Guide       -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin>


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc"> 
       <toc file="toc.xml" primary="true" />
       <index path="index"/>
   </extension>

<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc"> 
       <toc file="topics_Guide.xml" />   
       <toc file="topics_Reference.xml" />   
       <toc file="topics_Questions.xml" />   
       <toc file="topics_Samples.xml" />   
   </extension>

</plugin>
