<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Run Eclipse SDK Linux Tests </description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList">
          <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                <name>buildId</name>
                <description>Build Id to test (such as I20120717-0800, N20120716-2000). </description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>eclipseStream</name>
                <description>Full three fields of stream being tested (such as 4.3.0, 3.8.1, etc.)</description>
                <defaultValue>4.6.0</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>EBUILDER_HASH</name>
                <description>Branch or hash of eclipse builder to fetch.</description>
                <defaultValue>master</defaultValue>
              </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
          </hudson.model.ParametersDefinitionProperty>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-build_timeout-BuildTimeoutWrapper</string>
      <external-property>
        <originalValue class="hudson.plugins.build_timeout.BuildTimeoutWrapper">
          <timeoutMinutes>900</timeoutMinutes>
          <failBuild>true</failBuild>
          <writingDescription>false</writingDescription>
          <timeoutPercentage>150</timeoutPercentage>
          <timeoutType>absolute</timeoutType>
          <timeoutMinutesElasticDefault>60</timeoutMinutesElasticDefault>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>builders</string>
      <describable-list-property>
        <originalValue class="hudson.util.DescribableList">
          <hudson.tasks.Shell>
            <command>#!/usr/bin/env bash

if [[ -z &quot;${WORKSPACE}&quot; ]]
then
  echo -e &quot;\n\tERROR: WORKSPACE variable was not defined&quot;
  exit 1
else
  if [[ ! -d &quot;${WORKSPACE}&quot; ]]
  then
    echo -e &quot;\n\tERROR: WORKSPACE was defined, but did not exist?&quot;
    echo -e &quot;\t\tIt was defined as ${WORKSPACE}&quot;
    exit 1
  else
    echo -e &quot;\n\tINFO: WORKSPACE was defined as ${WORKSPACE}&quot;
    echo -e &quot;\t\tWill delete contents, for clean run&quot;
    MaxLoops=15
    SleepTime=60
    currentLoop=0
    nFilesOrDirs=$( find &quot;${WORKSPACE}&quot; -mindepth 1 -maxdepth 1 | wc -l )
    while [[ ${nFilesOrDirs} -gt 0 ]]
    do
      currentLoop=$(( ${currentLoop} + 1 ))
      if [[ ${currentLoop} -gt ${MaxLoops} ]]
      then
        echo -e &quot;\n\tERROR: Number of re-try loops, ${currentLoop}, exceeded maximum, ${MaxLoops}. &quot;
        echo -e &quot; \t\tPossibly due to files still being used by another process?&quot;
        exit 1
        break
      fi
      echo -e &quot;\tcurrentLoop: ${currentLoop}   nFilesOrDirs:  ${nFilesOrDirs}&quot;
      find &quot;${WORKSPACE}&quot; -mindepth 1 -maxdepth 1 -execdir rm -fr &apos;{}&apos; \;
      nFilesOrDirs=$( find &quot;${WORKSPACE}&quot; -mindepth 1 -maxdepth 1 | wc -l )
      if [[ ${nFilesOrDirs} -gt 0 ]]
      then
        sleep ${SleepTime}
      fi
    done
  fi
fi
echo -e &quot;\t... ending cleaning&quot;

exit 0


</command>
          </hudson.tasks.Shell>
          <hudson.tasks.Shell>
            <command>#!/usr/bin/env bash

RAW_DATE_START=&quot;$(date +%s )&quot;

echo -e &quot;\n\tRAW Date Start: ${RAW_DATE_START} \n&quot;

echo -e &quot;\n\t whoami:  $( whoami )\n&quot;
echo -e &quot;\n\t uname -a: $(uname -a)\n&quot;

# unset commonly defined system variables, which we either do not need, or want to set ourselves.
# (this is to improve consistency running on one machine versus another)
echo -e &quot;Unsetting variables: JAVA_BINDIR JAVA_HOME JAVA_ROOT JDK_HOME JRE_HOME CLASSPATH ANT_HOME\n&quot;
unset -v JAVA_BINDIR JAVA_HOME JAVA_ROOT JDK_HOME JRE_HOME CLASSPATH ANT_HOME

# 0002 is often the default for shell users, but it is not when ran from
# a cron job, so we set it explicitly, to be sure of value, so releng group has write access to anything
# we create on shared area.
oldumask=$(umask)
umask 0002
echo &quot;umask explicitly set to 0002, old value was $oldumask&quot;

# we want java.io.tmpdir to be in $WORKSPACE, but must already exist, for Java to use it.
mkdir -p tmp

wget -O getEBuilder.xml --no-verbose   http://git.eclipse.org/c/platform/eclipse.platform.releng.aggregator.git/plain/production/testScripts/hudsonBootstrap/getEBuilder.xml 2&gt;&amp;1

export JAVA_HOME=/shared/common/jdk1.8.0_x64-latest
export ANT_HOME=/shared/common/apache-ant-1.9.2
export PATH=${JAVA_HOME}/bin:${ANT_HOME}/bin:${PATH}

echo JAVA_HOME: $JAVA_HOME
echo ANT_HOME: $ANT_HOME
echo PATH: $PATH
export ANT_OPTS=&quot;${ANT_OPTS} -Djava.io.tmpdir=${WORKSPACE}/tmp&quot;

env 1&gt;envVars.txt 2&gt;&amp;1
ant -diagnostics 1&gt;antDiagnostics.txt 2&gt;&amp;1
java -XshowSettings -version 1&gt;javaSettings.txt 2&gt;&amp;1

ant -f getEBuilder.xml -Djava.io.tmpdir=${WORKSPACE}/tmp -DbuildId=$buildId  -DeclipseStream=$eclipseStream -DEBUILDER_HASH=${EBUILDER_HASH}  -DdownloadURL=http://download.eclipse.org/eclipse/downloads/drops4/${buildId}  -Dosgi.os=linux -Dosgi.ws=gtk -Dosgi.arch=x86_64 -DtestSuite=all

RAW_DATE_END=&quot;$(date +%s )&quot;

echo -e &quot;\n\tRAW Date End: ${RAW_DATE_END} \n&quot;

TOTAL_TIME=$((${RAW_DATE_END} - ${RAW_DATE_START}))

echo -e &quot;\n\tTotal elapsed time: ${TOTAL_TIME} \n&quot;
</command>
          </hudson.tasks.Shell>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </describable-list-property>
    </entry>
    <entry>
      <string>appointedNode</string>
      <base-property>
        <originalValue class="appointed-node-property">
          <nodeName>hudson-slave4</nodeName>
          <advancedAffinityChooser>true</advancedAffinityChooser>
          <canRoam>false</canRoam>
        </originalValue>
        <propertyOverridden>true</propertyOverridden>
      </base-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams</createdBy>
  <creationTime>1435784236167</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Update:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingProjectName>ep-unit-lin64</cascadingProjectName>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet"/>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>windows2012tests</authToken>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>