<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
	name="%pluginName"
	id="org.eclipse.test"
	version="2.1.0"
	provider-name="%providerName">

	<requires>
	   <import plugin="org.eclipse.ui.ide" optional="true"/>
	   <import plugin="org.eclipse.ui.views" optional="true"/>
	   <import plugin="org.eclipse.ui.workbench.texteditor" optional="true"/>
	   <import plugin="org.eclipse.ui.editors" optional="true"/>
	   <import plugin="org.apache.ant"/>
  	   <import plugin="org.junit"/>
	   <import plugin="org.eclipse.ant.core" optional="true"/>
	   <import plugin="org.eclipse.swt" optional="true"/>
   	   <import plugin="org.eclipse.ui"/>
	   <import plugin="org.eclipse.ui.workbench"/>
	   <import plugin="org.eclipse.core.resources"/>
           <import plugin="org.eclipse.update.core"/>
           <import plugin="org.eclipse.help"/>
           <import plugin="org.eclipse.jface"/>
           <import plugin="org.eclipse.jface.text"/>
	   <import plugin="org.eclipse.core.runtime"/>
	   <import plugin="org.eclipse.core.runtime.compatibility"/>	
	</requires> 

	<runtime>
	   <library name="automated.jar"/>
	</runtime>

	<extension id="coretestapplication" point="org.eclipse.core.runtime.applications">
		<application>
			<run
				class="org.eclipse.test.CoreTestApplication">	      
			</run>
		</application>
	</extension>

	<extension id="uitestapplication" point="org.eclipse.core.runtime.applications">
		<application>
			<run
				class="org.eclipse.test.UITestApplication">
				<parameter name="productInfo" value="product.ini"/>
			</run>
		</application>
	</extension>
	
    <extension point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry library="xalan.jar"/>
    </extension>

</plugin>
