<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.test"
   name="%pluginName"
   version="2.1.0"
   provider-name="%providerName">

   <runtime>
      <library name="automated.jar"/>
   </runtime>
   <requires>
      <import plugin="org.apache.ant"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension
         id="coretestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.CoreTestApplication">
         </run>
      </application>
   </extension>
   <extension
         id="uitestapplication"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.test.UITestApplication">
            <parameter
                  name="productInfo"
                  value="product.ini">
            </parameter>
         </run>
      </application>
   </extension>

</plugin>
