<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.tips.core.tips">
       <provider
            class="org.eclipse.platform.doc.tips.HtmlTableProvider"
            description="Platform Tips Provider"
            id="org.eclipse.platform.doc.tips">
      </provider>
   </extension>

</plugin>
