a#hello-world { top : 30px; }
a#hello-world img { background-image : url(graphics/obj_48/java_obj.gif); }
a#hello-world:hover img { background-image : url(graphics/obj_48/hovjava_obj.gif); }

a#applet { top : 30px; left : 425px; }
a#applet img { background-image : url(graphics/obj_48/javaapplet_obj.gif); }
a#applet:hover img { background-image : url(graphics/obj_48/hovjavaapplet_obj.gif); }

a#swt { top : 100px; }
a#swt img { background-image : url(graphics/obj_48/swtapp_obj.gif); }
a#swt:hover img { background-image : url(graphics/obj_48/hovswtapp_obj.gif); }

a#ant { top : 100px; left : 425px;}
a#ant img { background-image : url(graphics/obj_48/antscript_obj.gif); }
a#ant:hover img { background-image : url(graphics/obj_48/hovantscript_obj.gif); }

#java {
	width : 850px;
	height : 150px;
	position : relative;
	left : 50%;
	margin-left : -425px;
	top : -75px;
}
