a#hello-world img { background-image : url(graphics/obj_48/java_obj.gif); }
a#hello-world:hover img { background-image : url(graphics/obj_48/hovjava_obj.gif); }

a#applet img { background-image : url(graphics/obj_48/javaapplet_obj.gif); }
a#applet:hover img { background-image : url(graphics/obj_48/hovjavaapplet_obj.gif); }

#swt img { background-image : url(graphics/obj_48/swtapp_obj.gif); }
#swt:hover img { background-image : url(graphics/obj_48/hovswtapp_obj.gif); }

#ant img { background-image : url(graphics/obj_48/antscript_obj.gif); }
#ant:hover img { background-image : url(graphics/obj_48/hovantscript_obj.gif); }

#java {
	position : relative;
	top : -90px;
}
