
body {
  font-family: sans-serif;
  font-size: 10pt;
  background-color: white;
  color: black;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 11pt;
}

h4 {
  font-size: 10pt;
  font-style: italic;
}

table {
  font-size: 10pt;
}


th {
  font-weight: bold;
}

kbd {
  font-weight: bold;
}

var {
  font-style: italic;
}


ol {
  margin-bottom: 1em;
}
