
body {
  font-family: sans-serif;
  font-size: 10pt;
  background-color: white;
  color: black;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 11pt;
}

h4 {
  font-size: 10pt;
  font-style: italic;
}

/*
p {
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
*/

/*
a:link {
  background-color: white;
  color: blue;
}

a:hover	{
  background-color: white;
  color: navy;
}

a:visited {
  text-decoration: underline;
}
*/

pre {
  font-family: monospace;
  font-size: 9pt;
}

div.Snapshot {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.copyright img {
  border-width: 0;
}

div.Note {
  font-style: italic;
}

div.copyright {
  margin-top: 4em;
}

table {
  font-size: 10pt;
}

th {
  font-weight: bold;
}

kbd {
  font-weight: bold;
}

var {
  font-style: italic;
}

span.Filename {
  font-style: italic;
}

span.Label {
  font-weight: bold;
}


ol {
/*
  margin-left: 1.7em;
*/
  margin-bottom: 1em;
}

ol li {
  padding-left: 0px;
  margin-left: 0px;
}

