<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!-- ===================================================== -->
<!-- Declare the documentation for the JDT User Guide  -->
<!-- We will declare only one infoset (book)               -->
<!-- ===================================================== -->

<plugin>


<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc"> 
       <toc file="toc.xml" primary="true" />
       <index path="index"/>
   </extension>


<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->

   <extension point="org.eclipse.help.toc">
       <toc file="topics_GettingStarted.xml" />
	   <toc file="topics_TipsTricks.xml" />
       <toc file="topics_Concepts.xml" />
       <toc file="topics_Tasks.xml" />
       <toc file="topics_Reference.xml" />
   </extension>


<!-- ============================================================================= -->
<!-- F1 context files                                                              -->
<!-- ============================================================================= -->

	<extension point="org.eclipse.help.contexts"> 
		<contexts file="contexts_JDT.xml" plugin="org.eclipse.jdt.ui"/> 
	</extension>

	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts_Debugger.xml" plugin="org.eclipse.debug.ui"/> 
		<contexts file="contexts_Debugger.xml" plugin="org.eclipse.ui.console"/> 
	</extension>
	
	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts_JDT_Debugger.xml" plugin="org.eclipse.jdt.debug.ui"/> 
	</extension>

	<extension point="org.eclipse.help.contexts">
		<contexts file="contexts_JDT_JUnit.xml" plugin="org.eclipse.jdt.junit"/> 
	</extension>

</plugin>
