<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eclipse-sdk-prereqs">
  <locations>
    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <!-- Upstream jar doesn't have OSGi metadata, but there is some variant with OSGi info published
        by glassfish. Should we use it? -->
      <unit id="com.jcraft.jsch" version="0.1.55.v20221112-0806"/>
      <unit id="com.jcraft.jsch.source" version="0.1.55.v20221112-0806"/>

      <unit id="org.apache.ant" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.ant.source" version="1.10.12.v20211102-1452"/>
      <unit id="org.apache.batik.css" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.util" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.i18n" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.constants" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.css.source" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.util.source" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.i18n.source" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.batik.constants.source" version="1.16.0.v20221027-0840"/>
      <unit id="org.apache.xmlgraphics" version="2.7.0.v20221018-0736"/>
      <unit id="org.apache.xmlgraphics.source" version="2.7.0.v20221018-0736"/>

      <!-- needed because org.eclipse.jdt.feature.group  includes it, but it should include org.hamcrest (direct-from-maven) instead --> 
      <unit id="org.junit" version="4.13.2.v20230809-1000"/>
      <unit id="org.junit.source" version="4.13.2.v20230809-1000"/>

      <unit id="org.apache.lucene.core" version="9.7.0.v20230703-0758"/>
      <unit id="org.apache.lucene.analysis-smartcn" version="9.7.0.v20230703-0758"/>
      <unit id="org.apache.lucene.analysis-common" version="9.7.0.v20230703-0758"/>
      <unit id="org.apache.lucene.core.source" version="9.7.0.v20230703-0758"/>
      <unit id="org.apache.lucene.analysis-smartcn.source" version="9.7.0.v20230703-0758"/>
      <unit id="org.apache.lucene.analysis-common.source" version="9.7.0.v20230703-0758"/>

      <unit id="org.hamcrest.core" version="2.2.0.v20230809-1000"/>
      <unit id="org.hamcrest.core.source" version="2.2.0.v20230809-1000"/>

      <!-- Transitive dependency of jxpath, not available as OSGi bundle on Maven Central -->
      <unit id="org.jdom" version="1.1.3.v20230812-1600"/>
      <unit id="org.jdom.source" version="1.1.3.v20230812-1600"/>

      <!-- This version contains with notarized *.jnilib -->
      <unit id="com.sun.jna" version="5.13.0.v20230812-1000"/>

      <!-- This is the "normal" Orbit repository. During development on Bug 568936 this repo is the EBR (git)
           sourced bundles of Orbit from 2022-06. This is the sub-p2-repo of the 2022-06 recommended build.
           This is the repo that is expected to be updated on milestones based on Orbit deliveries. -->
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/milestone/S202308220716"/>
    </location>
    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">

      <!-- In process of being replaced by org.glassfish.web.javax.servlet.jsp from Central -->
      <unit id="org.apache.jasper.glassfish" version="2.2.2.v201501141630"/>
      <unit id="org.apache.jasper.glassfish.source" version="2.2.2.v201501141630"/>

      <unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
      <unit id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>

      <unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
      <unit id="org.w3c.dom.smil.source" version="1.0.1.v200903091627"/>

      <unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
      <unit id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>


      <!-- RedDeer deps-->
      <unit id="org.json" version="1.0.0.v201011060100"/>

      <!-- This is the last build of the CVS sourced Orbit repository - this was a subrepo of the recommended Orbit
           for 2022-03. Due to Bug 568936 this is not included in 2022-06 recommended Orbit repos and beyond.
           The intention is to migrate the above (where possible) to newer sources, such as pulling from
           maven central. -->
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20201118194144/repository/"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
       <!-- Check version in "<EMF>/features" directory -->
      <unit id="org.eclipse.emf.common.feature.group" version="2.30.0.v20230810-0713"/>
      <unit id="org.eclipse.emf.common.source.feature.group" version="2.30.0.v20230810-0713"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.35.0.v20230810-0713"/>
      <unit id="org.eclipse.emf.ecore.source.feature.group" version="2.35.0.v20230810-0713"/>
       <!-- For org.eclipse.ui.tools, and PDE's spy dependencies as of Eclipse 4.22 -->
       <!-- Check version in "<EMF>/features" directory -->
      <unit id="org.eclipse.emf.edit.feature.group" version="2.19.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.edit.source.feature.group" version="2.19.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.10.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.databinding.source.feature.group" version="1.10.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.10.0.v20230211-1150"/>
      <unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.10.0.v20230211-1150"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/S202308100734"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.1.v20230507-1923"/>
      <unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.6.1.v20230507-1923"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1800.v20230422-0242"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.1800.v20230422-0242"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.701.v20230423-0417"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.source.feature.group" version="1.1.701.v20230423-0417"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.401.v20230422-0242"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.401.v20230422-0242"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclientjava.feature.feature.group" version="1.0.0.v20230528-2254"/>
      <repository location="https://download.eclipse.org/rt/ecf/3.14.39/site.p2/3.14.39.v20230529-2152/"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <repository location="https://download.eclipse.org/reddeer/releases/4.6.0/"/>
      <unit id="org.eclipse.reddeer.workbench" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.jface" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.swt" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.uiforms" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.eclipse" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.core" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.common" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.junit" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.junit.extension" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.workbench.core" version="0.0.0"/>
      <unit id="org.eclipse.reddeer.direct" version="0.0.0"/>
    </location>

    <!-- uncomment 'eclipse_home' location, with text editor, for use in Eclipse IDE
    <location path="${eclipse_home}" type="Profile"/>
    -->

    <!-- Maven versions of asm; Orbit versions of asm are specified above. -->
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>com.google.code.gson</groupId>
				  <artifactId>gson</artifactId>
				  <version>2.10.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>com.ibm.icu</groupId>
				  <artifactId>icu4j</artifactId>
				  <version>73.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-fileupload</groupId>
				  <artifactId>commons-fileupload</artifactId>
				  <version>1.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-io</groupId>
				  <artifactId>commons-io</artifactId>
				  <version>2.13.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-lang</groupId>
				  <artifactId>commons-lang</artifactId>
				  <version>2.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-logging</groupId>
				  <artifactId>commons-logging</artifactId>
				  <version>1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.annotation</groupId>
				  <artifactId>jakarta.annotation-api</artifactId>
				  <version>1.3.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.inject</groupId>
				  <artifactId>jakarta.inject-api</artifactId>
				  <version>1.0.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>net.java.dev.jna</groupId>
				  <artifactId>jna-platform</artifactId>
				  <version>5.13.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.aries.spifly</groupId>
				  <artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
				  <version>1.3.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.sshd</groupId>
				  <artifactId>sshd-osgi</artifactId>
				  <version>2.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bouncycastle</groupId>
				  <artifactId>bcpg-jdk18on</artifactId>
				  <version>1.76</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bouncycastle</groupId>
				  <artifactId>bcprov-jdk18on</artifactId>
				  <version>1.76</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.hamcrest</groupId>
				  <artifactId>hamcrest</artifactId>
				  <version>2.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.jsoup</groupId>
				  <artifactId>jsoup</artifactId>
				  <version>1.16.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.sat4j</groupId>
				  <artifactId>org.ow2.sat4j.core</artifactId>
				  <version>2.3.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.sat4j</groupId>
				  <artifactId>org.ow2.sat4j.pb</artifactId>
				  <version>2.3.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.slf4j</groupId>
				  <artifactId>slf4j-api</artifactId>
				  <version>2.0.7</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.slf4j</groupId>
				  <artifactId>slf4j-simple</artifactId>
				  <version>2.0.7</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.tukaani</groupId>
				  <artifactId>xz</artifactId>
				  <version>1.9</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.yaml</groupId>
				  <artifactId>snakeyaml</artifactId>
				  <version>2.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Jetty and servlet API" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>jakarta.el</groupId>
				  <artifactId>jakarta.el-api</artifactId>
				  <version>3.0.3</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.servlet</groupId>
				  <artifactId>jakarta.servlet-api</artifactId>
				  <version>4.0.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>javax.servlet.jsp</groupId>
				  <artifactId>javax.servlet.jsp-api</artifactId>
				  <version>2.3.3</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>apache-jsp</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-http</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-io</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-security</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-server</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-servlet</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-util-ajax</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-util</artifactId>
				  <version>10.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.glassfish.web</groupId>
				  <artifactId>javax.servlet.jsp</artifactId>
				  <version>2.3.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.glassfish</groupId>
				  <artifactId>javax.el</artifactId>
				  <version>3.0.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Test dependencies" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>net.bytebuddy</groupId>
				  <artifactId>byte-buddy-agent</artifactId>
				  <version>1.14.7</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>net.bytebuddy</groupId>
				  <artifactId>byte-buddy</artifactId>
				  <version>1.14.7</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.assertj</groupId>
				  <artifactId>assertj-core</artifactId>
				  <version>3.24.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.mockito</groupId>
				  <artifactId>mockito-core</artifactId>
				  <version>5.5.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.objenesis</groupId>
				  <artifactId>objenesis</artifactId>
				  <version>3.3</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="ASM" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-analysis</artifactId>
				  <version>9.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-commons</artifactId>
				  <version>9.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-tree</artifactId>
				  <version>9.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-util</artifactId>
				  <version>9.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm</artifactId>
				  <version>9.5</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="OSGi" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.annotation.bundle</artifactId>
				  <version>2.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.annotation.versioning</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.cm</artifactId>
				  <version>1.6.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.component.annotations</artifactId>
				  <version>1.5.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.component</artifactId>
				  <version>1.5.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.coordinator</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.device</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.event</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.http.whiteboard</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.http</artifactId>
				  <version>1.2.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.log.stream</artifactId>
				  <version>1.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.metatype.annotations</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.metatype</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.prefs</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.provisioning</artifactId>
				  <version>1.2.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.repository</artifactId>
				  <version>1.1.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.upnp</artifactId>
				  <version>1.2.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.useradmin</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.wireadmin</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.function</artifactId>
				  <version>1.2.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.measurement</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.position</artifactId>
				  <version>1.0.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.promise</artifactId>
				  <version>1.3.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.pushstream</artifactId>
				  <version>1.1.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.xml</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="BND" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.annotation</artifactId>
				  <version>6.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.embedded-repo</artifactId>
				  <version>6.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.util</artifactId>
				  <version>6.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bndlib</artifactId>
				  <version>6.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.repository</artifactId>
				  <version>6.4.1</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Reddeer Deps" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>com.fasterxml.jackson.core</groupId>
				  <artifactId>jackson-annotations</artifactId>
				  <version>2.15.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>com.fasterxml.jackson.core</groupId>
				  <artifactId>jackson-core</artifactId>
				  <version>2.15.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>com.fasterxml.jackson.core</groupId>
				  <artifactId>jackson-databind</artifactId>
				  <version>2.15.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache Felix" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.command</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.runtime</artifactId>
				  <version>1.1.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.shell</artifactId>
				  <version>1.1.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.scr</artifactId>
				  <version>2.2.6</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="JUnit 5" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.apiguardian</groupId>
				  <artifactId>apiguardian-api</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-api</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-engine</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-migrationsupport</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-params</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-commons</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-engine</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-launcher</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-runner</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-api</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-commons</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-engine</artifactId>
				  <version>1.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.vintage</groupId>
				  <artifactId>junit-vintage-engine</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.opentest4j</groupId>
				  <artifactId>opentest4j</artifactId>
				  <version>1.3.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="jxpath" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>commons-beanutils</groupId>
				  <artifactId>commons-beanutils</artifactId>
				  <version>1.9.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-collections</groupId>
				  <artifactId>commons-collections</artifactId>
				  <version>3.2.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-jxpath</groupId>
				  <artifactId>commons-jxpath</artifactId>
				  <version>1.3</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>