<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eclipse-sdk-prereqs">
  <locations>
    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">

      <unit id="com.jcraft.jsch" version="0.1.55.v20230916-1400"/>
      <unit id="com.jcraft.jsch.source" version="0.1.55.v20230916-1400"/>

      <unit id="org.apache.ant" version="1.10.14.v20230922-1200"/>
      <unit id="org.apache.ant.source" version="1.10.14.v20230922-1200"/>

      <unit id="org.apache.batik.css" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.util" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.i18n" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.constants" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.css.source" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.util.source" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.i18n.source" version="1.17.0.v20231215-1130"/>
      <unit id="org.apache.batik.constants.source" version="1.17.0.v20231215-1130"/>

      <unit id="org.apache.xmlgraphics" version="2.9.0.v20230916-1600"/>
      <unit id="org.apache.xmlgraphics.source" version="2.9.0.v20230916-1600"/>

      <!-- needed because org.eclipse.jdt.feature.group  includes it, but it should include org.hamcrest (direct-from-maven) instead --> 
      <unit id="org.junit" version="4.13.2.v20230809-1000"/>
      <unit id="org.junit.source" version="4.13.2.v20230809-1000"/>

      <unit id="org.apache.lucene.core" version="9.10.0.v20240221-0830"/>
      <unit id="org.apache.lucene.analysis-smartcn" version="9.10.0.v20240221-0830"/>
      <unit id="org.apache.lucene.analysis-common" version="9.10.0.v20240221-0830"/>
      <unit id="org.apache.lucene.core.source" version="9.10.0.v20240221-0830"/>
      <unit id="org.apache.lucene.analysis-smartcn.source" version="9.10.0.v20240221-0830"/>
      <unit id="org.apache.lucene.analysis-common.source" version="9.10.0.v20240221-0830"/>

      <unit id="org.hamcrest.core" version="2.2.0.v20230809-1000"/>
      <unit id="org.hamcrest.core.source" version="2.2.0.v20230809-1000"/>

      <!-- Transitive dependency of jxpath, not available as OSGi bundle on Maven Central -->
      <unit id="org.jdom" version="1.1.3.v20230812-1600"/>
      <unit id="org.jdom.source" version="1.1.3.v20230812-1600"/>

      <!-- This version contains with notarized *.jnilib -->
      <unit id="com.sun.jna" version="5.14.0.v20231211-1200"/>

      <!-- Batik dependencies -->
      <unit id="org.eclipse.orbit.xml-apis-ext" version="1.0.0.v20230923-0644"/>
      <unit id="org.eclipse.orbit.xml-apis-ext.source" version="1.0.0.v20230923-0644"/>

      <!-- This is the "normal" Orbit repository.
           This is the repo that is expected to be updated on milestones and releases based on Orbit deliveries. -->
      <repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/release/4.31.0"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
       <!-- Check version in "<EMF>/features" directory -->
      <unit id="org.eclipse.emf.common.feature.group" version="2.31.0.v20231210-0956"/>
      <unit id="org.eclipse.emf.common.source.feature.group" version="2.31.0.v20231210-0956"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.37.0.v20240203-0859"/>
      <unit id="org.eclipse.emf.ecore.source.feature.group" version="2.37.0.v20240203-0859"/>
       <!-- For org.eclipse.ui.tools, and PDE's spy dependencies as of Eclipse 4.22 -->
       <!-- Check version in "<EMF>/features" directory -->
      <unit id="org.eclipse.emf.edit.feature.group" version="2.22.0.v20231208-1346"/>
      <unit id="org.eclipse.emf.edit.source.feature.group" version="2.22.0.v20231208-1346"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.11.0.v20231208-1346"/>
      <unit id="org.eclipse.emf.databinding.source.feature.group" version="1.11.0.v20231208-1346"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.11.0.v20231208-1346"/>
      <unit id="org.eclipse.emf.databinding.edit.source.feature.group" version="1.11.0.v20231208-1346"/>
      <repository location="https://download.eclipse.org/modeling/emf/emf/builds/release/2.37.0"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.6.2.v20231021-2127"/>
      <unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.6.2.v20231021-2127"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.501.v20230507-1921"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.1900.v20230715-1945"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.1900.v20230715-1945"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclientjava.feature.feature.group" version="2.0.200.v20231114-1017"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclientjava.feature.source.feature.group" version="2.0.200.v20231114-1017"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.402.v20231021-2127"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.402.v20231021-2127"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="1.1.702.v20231114-1017"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.source.feature.group" version="1.1.702.v20231114-1017"/>
      <repository location="https://download.eclipse.org/rt/ecf/3.14.41/site.p2/3.14.41.v20240114-0141"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.2.v20181016-2210"/>
      <repository location="https://download.eclipse.org/cbi/updates/license/2.0.2.v20181016-2210"/>
    </location>

    <!-- uncomment 'eclipse_home' location, with text editor, for use in Eclipse IDE
    <location path="${eclipse_home}" type="Profile"/>
    -->

    <!-- Maven versions of asm; Orbit versions of asm are specified above. -->
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>com.google.code.gson</groupId>
				  <artifactId>gson</artifactId>
				  <version>2.10.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>com.ibm.icu</groupId>
				  <artifactId>icu4j</artifactId>
				  <version>74.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-fileupload</groupId>
				  <artifactId>commons-fileupload</artifactId>
				  <version>1.6.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-io</groupId>
				  <artifactId>commons-io</artifactId>
				  <version>2.15.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-lang</groupId>
				  <artifactId>commons-lang</artifactId>
				  <version>2.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-logging</groupId>
				  <artifactId>commons-logging</artifactId>
				  <version>1.3.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>net.java.dev.jna</groupId>
				  <artifactId>jna-platform</artifactId>
				  <version>5.14.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.aries.spifly</groupId>
				  <artifactId>org.apache.aries.spifly.dynamic.bundle</artifactId>
				  <version>1.3.7</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.sshd</groupId>
				  <artifactId>sshd-osgi</artifactId>
				  <version>2.12.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bouncycastle</groupId>
				  <artifactId>bcpg-jdk18on</artifactId>
				  <version>1.82</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bouncycastle</groupId>
				  <artifactId>bcprov-jdk18on</artifactId>
				  <version>1.82</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
+				  <groupId>org.bouncycastle</groupId>
+				  <artifactId>bcutil-jdk18on</artifactId>
+				  <version>1.82</version>
 				  <type>jar</type>
 			  </dependency>
			  <dependency>
				  <groupId>org.hamcrest</groupId>
				  <artifactId>hamcrest</artifactId>
				  <version>2.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.jsoup</groupId>
				  <artifactId>jsoup</artifactId>
				  <version>1.17.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.sat4j</groupId>
				  <artifactId>org.ow2.sat4j.core</artifactId>
				  <version>2.3.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.sat4j</groupId>
				  <artifactId>org.ow2.sat4j.pb</artifactId>
				  <version>2.3.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.slf4j</groupId>
				  <artifactId>slf4j-api</artifactId>
				  <version>2.0.12</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.slf4j</groupId>
				  <artifactId>slf4j-simple</artifactId>
				  <version>2.0.12</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.tukaani</groupId>
				  <artifactId>xz</artifactId>
				  <version>1.9</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Jetty and servlet API" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>jakarta.el</groupId>
				  <artifactId>jakarta.el-api</artifactId>
				  <version>3.0.3</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.servlet</groupId>
				  <artifactId>jakarta.servlet-api</artifactId>
				  <version>4.0.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>javax.servlet.jsp</groupId>
				  <artifactId>javax.servlet.jsp-api</artifactId>
				  <version>2.3.3</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty.ee8</groupId>
				  <artifactId>jetty-ee8-apache-jsp</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty.ee8</groupId>
				  <artifactId>jetty-ee8-nested</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty.ee8</groupId>
				  <artifactId>jetty-ee8-security</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty.ee8</groupId>
				  <artifactId>jetty-ee8-servlet</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty.toolchain</groupId>
				  <artifactId>jetty-servlet-api</artifactId>
				  <version>4.0.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-http</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-io</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-security</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-server</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-session</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-util-ajax</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.eclipse.jetty</groupId>
				  <artifactId>jetty-util</artifactId>
				  <version>12.0.15</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.glassfish</groupId>
				  <artifactId>jakarta.el</artifactId>
				  <version>3.0.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.mortbay.jasper</groupId>
				  <artifactId>apache-el</artifactId>
				  <version>9.0.83.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.mortbay.jasper</groupId>
				  <artifactId>apache-jsp</artifactId>
				  <version>9.0.83.1</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Test dependencies" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>net.bytebuddy</groupId>
				  <artifactId>byte-buddy-agent</artifactId>
				  <version>1.14.12</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>net.bytebuddy</groupId>
				  <artifactId>byte-buddy</artifactId>
				  <version>1.14.12</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.assertj</groupId>
				  <artifactId>assertj-core</artifactId>
				  <version>3.25.3</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.mockito</groupId>
				  <artifactId>mockito-core</artifactId>
				  <version>5.10.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.objenesis</groupId>
				  <artifactId>objenesis</artifactId>
				  <version>3.3</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="ASM" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-analysis</artifactId>
				  <version>9.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-commons</artifactId>
				  <version>9.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-tree</artifactId>
				  <version>9.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm-util</artifactId>
				  <version>9.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.ow2.asm</groupId>
				  <artifactId>asm</artifactId>
				  <version>9.6</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="OSGi" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.annotation.bundle</artifactId>
				  <version>2.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.annotation.versioning</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.cm</artifactId>
				  <version>1.6.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.component.annotations</artifactId>
				  <version>1.5.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.component</artifactId>
				  <version>1.5.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.coordinator</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.device</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.event</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.http.whiteboard</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.log.stream</artifactId>
				  <version>1.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.metatype.annotations</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.metatype</artifactId>
				  <version>1.4.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.prefs</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.provisioning</artifactId>
				  <version>1.2.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.repository</artifactId>
				  <version>1.1.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.upnp</artifactId>
				  <version>1.2.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.useradmin</artifactId>
				  <version>1.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.service.wireadmin</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.function</artifactId>
				  <version>1.2.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.measurement</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.position</artifactId>
				  <version>1.0.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.promise</artifactId>
				  <version>1.3.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.pushstream</artifactId>
				  <version>1.1.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.osgi</groupId>
				  <artifactId>org.osgi.util.xml</artifactId>
				  <version>1.0.2</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="BND" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.annotation</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.embedded-repo</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bnd.util</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.bndlib</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.repository</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>biz.aQute.bnd</groupId>
				  <artifactId>biz.aQute.resolve</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bndtools</groupId>
				  <artifactId>org.bndtools.templates.template</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.bndtools</groupId>
				  <artifactId>org.bndtools.templating</artifactId>
				  <version>7.0.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Apache Felix" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.command</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.runtime</artifactId>
				  <version>1.1.6</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.gogo.shell</artifactId>
				  <version>1.1.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.apache.felix</groupId>
				  <artifactId>org.apache.felix.scr</artifactId>
				  <version>2.2.10</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="JUnit 5" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>org.apiguardian</groupId>
				  <artifactId>apiguardian-api</artifactId>
				  <version>1.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-api</artifactId>
				  <version>5.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-engine</artifactId>
				  <version>5.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-migrationsupport</artifactId>
				  <version>5.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.jupiter</groupId>
				  <artifactId>junit-jupiter-params</artifactId>
				  <version>5.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-commons</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-engine</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-launcher</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-runner</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-api</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-commons</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.platform</groupId>
				  <artifactId>junit-platform-suite-engine</artifactId>
				  <version>1.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.junit.vintage</groupId>
				  <artifactId>junit-vintage-engine</artifactId>
				  <version>5.10.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>org.opentest4j</groupId>
				  <artifactId>opentest4j</artifactId>
				  <version>1.3.0</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="jxpath" missingManifest="ignore" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>commons-beanutils</groupId>
				  <artifactId>commons-beanutils</artifactId>
				  <version>1.9.4</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-collections</groupId>
				  <artifactId>commons-collections</artifactId>
				  <version>3.2.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>commons-jxpath</groupId>
				  <artifactId>commons-jxpath</artifactId>
				  <version>1.3</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
	  <location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" label="Jakarta EE" missingManifest="error" type="Maven">
		  <dependencies>
			  <dependency>
				  <groupId>jakarta.activation</groupId>
				  <artifactId>jakarta.activation-api</artifactId>
				  <version>2.1.2</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.annotation</groupId>
				  <artifactId>jakarta.annotation-api</artifactId>
				  <version>1.3.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.annotation</groupId>
				  <artifactId>jakarta.annotation-api</artifactId>
				  <version>2.1.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.inject</groupId>
				  <artifactId>jakarta.inject-api</artifactId>
				  <version>1.0.5</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.inject</groupId>
				  <artifactId>jakarta.inject-api</artifactId>
				  <version>2.0.1</version>
				  <type>jar</type>
			  </dependency>
			  <dependency>
				  <groupId>jakarta.xml.bind</groupId>
				  <artifactId>jakarta.xml.bind-api</artifactId>
				  <version>4.0.1</version>
				  <type>jar</type>
			  </dependency>
		  </dependencies>
	  </location>
  </locations>
  <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>