<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>

<target name="eclipse-sdk-prereqs">
  <locations>
    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">

      <unit id="com.ibm.icu" version="63.1.0.v20181030-1705"/>
      <unit id="com.ibm.icu.source" version="63.1.0.v20181030-1705"/>

      <unit id="com.jcraft.jsch" version="0.1.54.v20170116-1932"/>
      <unit id="com.jcraft.jsch.source" version="0.1.54.v20170116-1932"/>
      <unit id="com.sun.el" version="2.2.0.v201303151357"/>
      <unit id="com.sun.el.source" version="2.2.0.v201303151357"/>
      <unit id="javax.annotation" version="1.2.0.v201602091430"/>
      <unit id="javax.annotation.source" version="1.2.0.v201602091430"/>
      <unit id="javax.el" version="2.2.0.v201303151357"/>
      <unit id="javax.el.source" version="2.2.0.v201303151357"/>
      <unit id="javax.inject" version="1.0.0.v20091030"/>
      <unit id="javax.inject.source" version="1.0.0.v20091030"/>

      <unit id="javax.servlet" version="3.1.0.v201410161800" />
      <unit id="javax.servlet.source" version="3.1.0.v201410161800" />

      <unit id="javax.servlet.jsp" version="2.2.0.v201112011158"/>
      <unit id="javax.servlet.jsp.source" version="2.2.0.v201112011158"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="org.apache.ant" version="1.10.5.v20180808-0324"/>
      <unit id="org.apache.ant.source" version="1.10.5.v20180808-0324"/>
      <unit id="org.apache.batik.css" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.util" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.i18n" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.constants" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.css.source" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.util.source" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.i18n.source" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.batik.constants.source" version="1.10.0.v20180703-1553"/>
      <unit id="org.apache.xmlgraphics" version="2.2.0.v20180809-1640"/>
      <unit id="org.apache.xmlgraphics.source" version="2.2.0.v20180809-1640"/>
      <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.commons.logging.source" version="1.2.0.v20180409-1502"/>
      <unit id="org.apache.felix.gogo.command" version="1.0.2.v20170914-1324"/>
      <unit id="org.apache.felix.gogo.command.source" version="1.0.2.v20170914-1324"/>
      <unit id="org.apache.felix.gogo.runtime" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.gogo.runtime.source" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.gogo.shell" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.gogo.shell.source" version="1.1.0.v20180713-1646"/>
      <unit id="org.apache.felix.scr" version="2.0.14.v20180822-1822"/>
      <unit id="org.apache.felix.scr.source" version="2.0.14.v20180822-1822"/>
      <unit id="org.apache.jasper.glassfish" version="2.2.2.v201501141630"/>
      <unit id="org.apache.jasper.glassfish.source" version="2.2.2.v201501141630"/>

      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.junit.source" version="4.12.0.v201504281640"/>
      <unit id="org.objectweb.asm" version="7.0.0.v20181030-2244"/>
      <unit id="org.objectweb.asm.source" version="7.0.0.v20181030-2244"/>
      <unit id="org.objectweb.asm.tree" version="7.0.0.v20181030-2244"/>
      <unit id="org.objectweb.asm.tree.source" version="7.0.0.v20181030-2244"/>
      <unit id="org.sat4j.core" version="2.3.5.v201308161310"/>
      <unit id="org.sat4j.pb" version="2.3.5.v201404071733"/>
      <unit id="org.tukaani.xz" version="1.8.0.v20180207-1613"/>
      <unit id="org.tukaani.xz.source" version="1.8.0.v20180207-1613" />
      <unit id="org.w3c.css.sac" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.css.sac.source" version="1.3.1.v200903091627"/>
      <unit id="org.w3c.dom.events" version="3.0.0.draft20060413_v201105210656"/>
      <unit id="org.w3c.dom.events.source" version="3.0.0.draft20060413_v201105210656"/>

      <unit id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
      <unit id="org.w3c.dom.smil.source" version="1.0.1.v200903091627"/>

      <unit id="org.w3c.dom.svg" version="1.1.0.v201011041433"/>
      <unit id="org.w3c.dom.svg.source" version="1.1.0.v201011041433"/>

      <!-- specific (additional) to equinox sdk -->
      <unit id="org.apache.mina.core" version="2.0.7.v201401071602"/>
      <unit id="org.apache.mina.core.source" version="2.0.7.v201401071602"/>
      <unit id="org.apache.sshd.core" version="2.0.0.v20181102-1323"/>
      <unit id="org.apache.sshd.core.source" version="2.0.0.v20181102-1323"/>
      <unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
      <unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>

      <!-- specific (additional) to test framework -->

      <unit id="org.easymock" version="2.4.0.v20090202-0900"/>

      <unit id="org.mockito" version="2.23.0.v20181106-1534"/>
      <unit id="net.bytebuddy.byte-buddy" version="1.9.0.v20181107-1410"/>
      <unit id="net.bytebuddy.byte-buddy-agent" version="1.9.0.v20181106-1534"/>

      <unit id="org.hamcrest.core" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.core.source" version="1.3.0.v20180420-1519"/>
      <unit id="org.hamcrest.library" version="1.3.0.v20180524-2246"/>
      <unit id="org.hamcrest.integration" version="1.3.0.v201305210900"/>

      <unit id="org.objenesis" version="2.6.0.v20180420-1519"/>

      <!-- part of e4 ui tools. See bug 422102 -->
      <unit id="org.apache.commons.jxpath" version="1.3.0.v200911051830"/>
      <unit id="org.apache.commons.jxpath.source" version="1.3.0.v200911051830"/>

      <unit id="org.apache.commons.fileupload" version="1.3.2.v20170320-2229" />
      <unit id="org.apache.commons.fileupload.source" version="1.3.2.v20170320-2229" />
      <unit id="org.apache.commons.io" version="2.2.0.v201405211200" />
      <unit id="org.apache.commons.io.source" version="2.2.0.v201405211200" />
	
      
      <unit id="org.apache.lucene.core" version="7.5.0.v20181003-1532"/>
      <unit id="org.apache.lucene.analyzers-smartcn" version="7.5.0.v20181003-1532"/>
      <unit id="org.apache.lucene.analyzers-common" version="7.5.0.v20181003-1532"/>
      <unit id="org.apache.lucene.core.source" version="7.5.0.v20181003-1532"/>
      <unit id="org.apache.lucene.analyzers-smartcn.source" version="7.5.0.v20181003-1532"/>
      <unit id="org.apache.lucene.analyzers-common.source" version="7.5.0.v20181003-1532"/>
      
      <!-- JUnit 5-->
      <unit id="org.junit.jupiter.api" version="5.3.1.v20181005-1442"/>
      <unit id="org.junit.jupiter.api.source" version="5.3.1.v20181005-1442"/>

      <unit id="org.junit.jupiter.engine" version="5.3.1.v20181005-1442"/>
      <unit id="org.junit.jupiter.engine.source" version="5.3.1.v20181005-1442"/>

      <unit id="org.junit.jupiter.migrationsupport" version="5.3.1.v20181005-1442"/>
      <unit id="org.junit.jupiter.migrationsupport.source" version="5.3.1.v20181005-1442"/>

      <unit id="org.junit.jupiter.params" version="5.3.1.v20181005-1442"/>
      <unit id="org.junit.jupiter.params.source" version="5.3.1.v20181005-1442"/>

      <unit id="org.junit.platform.commons" version="1.3.1.v20181005-1442"/>
      <unit id="org.junit.platform.commons.source" version="1.3.1.v20181005-1442"/>

      <unit id="org.junit.platform.engine" version="1.3.1.v20181005-1442"/>
      <unit id="org.junit.platform.engine.source" version="1.3.1.v20181005-1442"/>

      <unit id="org.junit.platform.launcher" version="1.3.1.v20181005-1442"/>
      <unit id="org.junit.platform.launcher.source" version="1.3.1.v20181005-1442"/>

      <unit id="org.junit.platform.runner" version="1.3.1.v20181005-1442"/>
      <unit id="org.junit.platform.runner.source" version="1.3.1.v20181005-1442"/>

      <unit id="org.junit.platform.suite.api" version="1.3.1.v20181005-1442"/>
      <unit id="org.junit.platform.suite.api.source" version="1.3.1.v20181005-1442"/>

      <unit id="org.junit.vintage.engine" version="5.3.1.v20181005-1442"/>
      <unit id="org.junit.vintage.engine.source" version="5.3.1.v20181005-1442"/>

      <unit id="org.opentest4j" version="1.1.1.v20181005-1442"/>
      <unit id="org.opentest4j.source" version="1.1.1.v20181005-1442"/>

      <unit id="org.apiguardian" version="1.0.0.v20181005-1442"/>
      <unit id="org.apiguardian.source" version="1.0.0.v20181005-1442"/>
      
      <!-- Tip of the Day - See bug 531786 -->
      <unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
      <unit id="com.google.gson.source" version="2.8.2.v20180104-1110"/>
      <unit id="org.jsoup" version="1.7.2.v201411291515"/>

      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20181128170323/repository/"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.emf.common.feature.group" version="2.15.0.v20181220-0846"/>
      <unit id="org.eclipse.emf.common.source.feature.group" version="2.15.0.v20181220-0846"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.17.0.v20181231-1705"/>
      <unit id="org.eclipse.emf.ecore.source.feature.group" version="2.17.0.v20181231-1705"/>
       <!-- For org.eclipse.ui.tools -->
      <unit id="org.eclipse.emf.edit" version="2.14.0.v20180823-0456"/>
      <unit id="org.eclipse.emf.databinding" version="1.5.0.v20180706-1146"/>
      <unit id="org.eclipse.emf.databinding.edit" version="1.5.0.v20180823-0456"/>
      <repository location="http://download.eclipse.org/modeling/emf/emf/builds/milestone/S201901090453/"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.jetty.continuation" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.continuation.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.http" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.http.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.io" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.io.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.security" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.security.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.server" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.server.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.servlet" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.servlet.source" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.util" version="9.4.14.v20181113"/>
      <unit id="org.eclipse.jetty.util.source" version="9.4.14.v20181113"/>
      <repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.14.v20181113/" />
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.3.v20181012-2020"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.4.v20181013-2146"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.4.v20181013-2146"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
      <unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.5.3.v20181012-2020"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.100.v20180301-0201"/>
      <unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.4.v20181013-2146"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.14.4.v20181013-2146"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
      <repository location="http://download.eclipse.org/rt/ecf/3.14.4/site.p2/"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.license.feature.group" version="2.0.1.v20180423-1114"/>
      <repository location="http://download.eclipse.org/cbi/updates/license/2.0.1.v20180423-1114"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <unit id="org.eclipse.egit.core" version="5.2.0.201812061821-r"/>
      <unit id="org.eclipse.jgit" version="5.2.0.201812061821-r"/>
	  <unit id="org.eclipse.jgit.ssh.apache" version="5.2.0.201812061821-r"/>
	  <unit id="net.i2p.crypto.eddsa" version="0.3.0.v20181102-1323"/>
      <unit id="org.apache.sshd.sftp" version="2.0.0.v20181102-1323"/>
      <unit id="javaewah" version="1.1.6.v20160919-1400"/>
      <repository location="http://download.eclipse.org/egit/updates-5.2"/>
    </location>

    <location includeAllPlatforms="true" includeMode="slicer" type="InstallableUnit">
      <repository location="http://download.eclipse.org/reddeer/releases/2.3.0/"/>
      <unit id="org.eclipse.reddeer.workbench" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.jface" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.swt" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.uiforms" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.eclipse" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.core" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.common" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.junit" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.junit.extension" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.workbench.core" version="2.3.0.Final"/>
      <unit id="org.eclipse.reddeer.direct" version="2.3.0.Final"/>
      <unit id="org.apache.commons.lang" version="2.6.0.v201404270220" />
      <unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.2.v20180207-1730"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.2.v20180207-1730"/>
      <unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.2.v20180207-1730"/>
      <unit id="org.json" version="1.0.0.v201011060100"/>
      <unit id="org.yaml.snakeyaml" version="1.14.0.v201604211500"/>
    </location>

    <!-- uncomment 'eclipse_home' location, with text editor, for use in Eclipse IDE
    <location path="${eclipse_home}" type="Profile"/>
    -->

  </locations>
</target>
