@import "../PRODUCT_PLUGIN/book.css";

pre.color1 {
	color: #4444CC
}
span.c7 {
	color: green
}
span.c6 {
	color: red
}
td.c5 {
	background-color: #FFCCAA
}
pre.c4 {
	color: #3366FF
}
span.c3 {
	color: #3366FF
}
span.c2 {
	color: #4444CC
}

table.border {
    border: 1px solid;
    border-collapse: collapse;
}
table.border th,
table.border td {
    border: 1px solid;
}

table.edged, tr, th, td {
    border: 1px solid;
    border-collapse: separate;
    border-style: inset;
}