p.bar {
     margin-left: 0;
     margin-right: 0;
     padding-top: 1px;
     padding-bottom: 1px;
     padding-left: 5px;
     padding-right: 1px;
     color: #FFFFFF;
     background-color: #0080C0;
     font-weight: bold;
}

p.subbar {
     margin-left: 0;
     margin-right: 0;
     padding-top: 1px;
     padding-bottom: 1px;
     padding-left: 5px;
     padding-right: 1px;
     color: #FFFFFF;
     background-color: #808080;
     font-weight: bold;
}

#main-title {
     margin-bottom: 5px;
     margin-left: 0;
     margin-right: 0;
     padding-top: 17px;
     padding-bottom: 1px;
     padding-left: 25px;
     padding-right: 100px;
     background-color: #cc6600;
     border-bottom: 2px #666633 solid;
     color: #f0f0e1;
     font-weight: bold;
     font-size: 1.2em;
     letter-spacing: 5px;
     text-align: left;
}