<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
  name="%pluginName"
  id="org.eclipse.jdt"
  version="3.0.0"
  provider-name="%providerName">
  
  <requires>
      <import plugin="org.eclipse.ui.intro"/>
  </requires>
   
  <extension point="org.eclipse.ui.intro.configExtension"> 
     <configExtension configId="org.eclipse.platform.introConfig">  
		<extensionContent path="overview" style="" alt-style="css/swt.properties">
           <link
	               url="about:blank;"
	               label="%intro.java.label"
	               id="java">
	            <text>%intro.java.text</text>
	         </link>
    	</extensionContent>
      </configExtension>
     
     <configExtension configId="org.eclipse.platform.introConfig">  
		<extensionContent path="tutorials" style="" alt-style="css/swt.properties">
        	 <div
	         	label="%intro.div.label"
	            id="java">
	            <link
	            	label="%intro.app.label"
	               	url="http://org.eclipse.ui.intro/openCheatSheet?id=org.eclipse.ui.cheatsheet.sample.HelloWorld"
	               	id="hello-world">
	            	<text>%intro.app.text</text>
	         	</link>
	         	<link
	               	label="%intro.applet.label"
	               	url="about:blank;"
	               	id="applet">
	               	<text>%intro.applet.text</text>
	         	</link>
	         	<link
	               	label="%intro.swt.label"
	               	url="about:blank;"
	               	id="swt">
	            	<text>%intro.swt.text</text>
	         	</link>
	         	<link
	               label="%intro.ant.label"
	               url="about:blank;"
	               id="ant">
	            	<text>%intro.ant.text</text>
	         	</link>
	         </div>
    	</extensionContent>
     </configExtension>
     
     <!-- Extension to the SDK Samples Page. -->
  	 <configExtension configId="org.eclipse.platform.introConfig">  
		<extensionContent path="samples/workbench" style="extension delta style" alt-style="css/swt.properties">
        	 <link
	               url="about:blank;"
	               label="%intro.editor.label"
	               id="java-editor">
	            	<text>%intro.editor.text</text>
	         </link>
    	</extensionContent>
     </configExtension>
   </extension>    
</plugin>