<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jdt"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName">

   <requires>
      <import plugin="org.eclipse.ui.intro"/>
      <import plugin="org.eclipse.ui.cheatsheets"/>
   </requires>


   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.platform.introConfig">
         <extensionContent
               alt-style="css/swt.properties"
               style="css/overview.css"
               path="overview/overview-links">
            <link
                  label="%intro.java.label"
                  url="http://org.eclipse.ui.intro/showHelpTopic?id=/org.eclipse.jdt.doc.user/gettingStarted/qs-BasicTutorial.htm"
                  id="java">
               <text>
                  %intro.java.text
               </text>
            </link>
         </extensionContent>
      </configExtension>
      <configExtension
            configId="org.eclipse.platform.introConfig">
         <extensionContent
               alt-style="css/swt.properties"
               style="css/tutorials.css"
               path="tutorials">
            <div
                  label="%intro.div.label"
                  id="java">
               <link
                     url="http://org.eclipse.ui.intro/showStandby?partId=org.eclipse.ui.cheatsheets.standbyPart&amp;input=org.eclipse.jdt.helloworld"
                     label="%intro.app.label"
                     id="hello-world">
                  <text>
                     %intro.app.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
                     label="%intro.applet.label"
                     id="applet">
                  <text>
                     %intro.applet.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
                     label="%intro.swt.label"
                     id="swt">
                  <text>
                     %intro.swt.text
                  </text>
               </link>
               <link
                     url="http://org.eclipse.ui.intro/showMessage?message=Action not implemented."
                     label="%intro.ant.label"
                     id="ant">
                  <text>
                     %intro.ant.text
                  </text>
               </link>
            </div>
         </extensionContent>
      </configExtension>
<!-- Extension to the SDK Samples Page. -->
      <configExtension
            configId="org.eclipse.platform.introConfig">
         <extensionContent
               alt-style="css/swt.properties"
               style="css/samples.css"
               path="samples/workbench">
            <link
                  label="%intro.editor.label"
                  url="http://org.eclipse.ui.intro/runAction?pluginId=org.eclipse.pde.ui&amp;class=org.eclipse.pde.ui.internal.samples.ShowSampleAction&amp;id=org.eclipse.sdk.samples.javaeditor"
                  id="java-editor">
               <text>
                  %intro.editor.text
               </text>
            </link>
         </extensionContent>
      </configExtension>
   </extension>
   
   <extension point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatSheet
            name="%cheatsheet.helloworld.name"
            contentFile="cheatsheets/HelloWorld.xml"
            id="org.eclipse.jdt.helloworld">
         <description>%cheatsheet.helloworld.desc</description>
      </cheatSheet>
   </extension>

</plugin>
