p, table, td, th {  font-family: arial, helvetica, geneva; font-size: 10pt}
pre {  font-family: "Courier New", Courier, mono; font-size: 10pt}
h2 { font-family: arial, helvetica, geneva; font-size: 18pt; font-weight: bold ; line-height: 14px}
code {  font-family: "Courier New", Courier, mono; font-size: 10pt}
sup {  font-family: arial,helvetica,geneva; font-size: 10px}
h3 {  font-family: arial, helvetica, geneva; font-size: 14pt; font-weight: bold}
li {  font-family: arial, helvetica, geneva; font-size: 10pt}
h1 {  font-family: arial, helvetica, geneva; font-size: 28px; font-weight: bold}
body {  font-family: arial, helvetica, geneva; font-size: 10pt; clip:   rect(   )}
.navhead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: xx-small; color: #FFFFFF; font-weight: bold; text-decoration: underline}
a.nav:link { text-decoration: none; color: #000000; }
a.nav:visited { text-decoration: none; color: #000000; }
a.nav:hover { text-decoration: underline; color: #000000; }
a.navhead:link { text-decoration: none;}
a.navhead:visited { text-decoration: none;}
a.navhead:hover { text-decoration: underline;}
