<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
     Copyright (c) 2005, 2011 IBM Corporation and others.
     All rights reserved. This program and the accompanying materials
     are made available under the terms of the Eclipse Public License v1.0
     which accompanies this distribution, and is available at
     http://www.eclipse.org/legal/epl-v10.html
    
     Contributors:
         IBM Corporation - initial API and implementation
 -->

<plugin>

   
<!-- ============================================================================= -->
<!-- Define primary TOC                                                            -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"
            extradir="guide/intro">
      </toc>
      <index path="index"/>
   </extension>
<!-- ============================================================================= -->
<!-- Define TOCs                                                                   -->
<!-- ============================================================================= -->
   <extension point="org.eclipse.help.toc"> 
       <toc file="topics_Reference.xml" />
       <toc
             file="topics_Tasks.xml">
       </toc>
      <toc
            file="topics_WhatsNew.xml">
      </toc>
   </extension>  
<!-- ============================================================================= -->
<!-- Define help context                                                           -->
<!-- ============================================================================= -->

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts_PDE.xml">
      </contexts>
   </extension>
   
	<extension
         point="org.eclipse.help.contexts">
      <contexts
            file="api_contexts.xml"
            plugin="org.eclipse.pde.api.tools.ui">
      </contexts>
   </extension>   
   
<!-- ============================================================================= -->
<!-- Define javadoc locations                                                      -->
<!-- ============================================================================= -->
   <extension
         point="org.eclipse.pde.core.javadoc">
      <javadoc path="reference/api">
         <plugin id="org.eclipse.pde.core"/>
         <plugin id="org.eclipse.pde.ui"/>
      </javadoc>
   </extension>
   
</plugin>
