<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Error Log</title>
<link href="../../book.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
.style2 {
	font-size: 12pt;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<p class="style1">Error Log</p>
<p>The <strong>Error Log</strong> view captures all the warnings and errors logged by plug-ins. The underlying log file is a <em>.log</em> file in the <em>.metadata</em> subdirectory of the workspace. The<strong> </strong>view is available under <strong>Window &gt; Show View &gt; Error Log</strong>. </p>
<p><img src="../../images/views/error_log.png" alt="Error Log" hspace="30"></p>
<p>&nbsp;</p>
<p class="style2">Event Sorting</p>
<p>Events in the log view can be sorted by message, plug-in ID or date in ascending or descending order. Simply click on the column header that you want the sorting to be based on. The down arrow in the column header indicates descending order, while the up arrow indicates an ascending order.</p>
<p>&nbsp;</p>
<p class="style2">Event Filtering</p>
<p>You can filter the view to show events of a particular type or session. You can also limit the number of entries in the view. Filtering options are available under <strong>Filters...</strong> from the view's toolbar drop down menu. </p>
<p>&nbsp;</p>
<p class="style2">Import and Export Logs</p>
<p>To <strong>import</strong> an arbitrary <em>.log</em> file into the view, press the <strong>Import Log</strong> toolbar button or select <strong>Import Log...</strong> from the context menu, then choose a <em>.log</em> file from the file system. </p>
<p>To <strong>export</strong> the current log view content into a file, press the <strong>Export Log</strong> toolbar button or select <strong>Export Log...</strong> from the context menu, then enter a file name. </p>
<p>&nbsp;</p>
<p class="style2">Clear and Delete Logs</p>
<p>To <strong>clear</strong> the view log content without deleting the underlying <em>.log</em> file, press the <strong>Clear Log</strong> toolbar button or select <strong>Clear Log Viewer</strong> from the context menu. </p>
<p>To permanently <strong>delete</strong> the underlying <em>.log</em> file, press the <strong>Delete Log</strong> toolbar button or select <strong>Delete Log</strong> from the context menu. </p>
<p>&nbsp;</p>
<p class="style2">Event Details</p>
<p>Full details about a particular event can be viewed in the <strong>Event Details</strong> dialog by double-clicking on a particular entry or selecting <strong>Event Details</strong> from the context menu of that entry. You can view the date, severity, message, full stack trace (if available) and session data of each event. </p>
<p><img src="../../images/views/error_log_details.png" alt="Error Log Details" hspace="30"></p>
<p>You can  navigate from one entry to the next via the <strong>Up</strong> and <strong>Down</strong> arrow buttons. </p>
<p>To copy the error to the clipboard, press the button with the clipboard image. </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
