<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Plug-in Depdencies</title>
<link href="../../book.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
.style2 {
	font-size: 12pt;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<p class="style1">Plug-in Dependencies</p>
<p>The <strong>Plug-in Dependencies</strong> view renders caller and callee relationships in your ecosystem of plug-ins. The view is available under <strong>Window &gt; Show View &gt; Other... &gt; PDE &gt; Plug-in Dependencies</strong>. </p>
<p>&nbsp;</p>
<p class="style2">Callers</p>
<p>The <strong>callers</strong> visualization shows all the plug-ins that require a certain plug-in. The visualization is available in both hierarchical and flat-table modes. </p>
<p><img src="../../images/views/plugin_dependencies_hierarchical_callers.png" alt="Hierarchical Callers" hspace="30"></p>
<p>&nbsp;</p>
<p class="style2">Callees</p>
<p>The <strong>callees</strong> visualization shows all the plug-ins required by a certain plug-in. The visualization is available in both hierarchical and flat-table modes. </p>
<p><img src="../../images/views/plugin_dependencies_flat_callees.png" alt="Flat Callees" hspace="30"></p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
