<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Views</title>
<script language="JavaScript" type="text/javascript" src="PLUGINS_ROOT/org.eclipse.help/livehelp.js"></script>
<link href="../../book.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style1 {
	font-size: 18px;
	font-weight: bold;
}
.style2 {
	font-size: 12pt;
	font-weight: bold;
}
-->
</style>
</head>

<body>
<p class="style1">Views</p>
<p>PDE provides four views that help plug-in developers inspect different aspects of their development environment. These views can be opened via <a class="command-link" href='javascript:executeCommand("org.eclipse.ui.views.showView()")'>
<img src="PLUGINS_ROOT/org.eclipse.help/command_link.png">
<strong>Window &gt; Show View &gt; Other... &gt; PDE Runtime</strong>
</a>.</p>
<p><img src="../../images/views/all_views.PNG" alt="PDE View Categories" hspace="30"> </p>
<p>&nbsp;</p>
<p>For detailed information on individual PDE views, refer to the following documents:</p>
<ul>
  <li><a href="error_log.htm">Error Log</a></li>
  <li><a href="plugin_registry.htm">Plug-in Registry</a></li>
  <li><a href="plugins.htm">Plug-ins</a></li>
  <li><a href="plugin_dependencies.htm">Plug-in Dependencies</a></li>
</ul>
<p>&nbsp;</p>
<p class="style2">Plug-in Development Perspective</p>
<p>The <strong>Plug-in Development</strong> perspective is designed to support efficient development and integration of plug-in projects. Its also adds the <strong>Plug-ins</strong> and <strong>Error Log</strong> views which are particularly useful. </p>
<p>The perspective can be opened via <a class="command-link" href='javascript:executeCommand("org.eclipse.ui.perspectives.showPerspective(org.eclipse.ui.perspectives.showPerspective.perspectiveId=org.eclipse.pde.ui.PDEPerspective)")'>
<img src="PLUGINS_ROOT/org.eclipse.help/command_link.png">
<strong>Window &gt; Open Perspective &gt; Other... &gt; Plug-in Development</strong>
</a>.</p>
<p><img src="../../images/views/perspective.PNG" alt="PDE Perspective" hspace="30"></p>
<p>&nbsp; </p>
<p>&nbsp;</p>
</body>
</html>
