<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is an &quot;abstract&quot; job, not intended be be ran, but simply to hold many common definitions that apply to all our other jobs, so it can be used in &quot;cascading jobs. </description>
  <project-properties class="java.util.concurrent.ConcurrentHashMap">
    <entry>
      <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
      <base-property>
        <originalValue class="hudson.plugins.disk_usage.DiskUsageProperty"/>
        <propertyOverridden>false</propertyOverridden>
      </base-property>
    </entry>
    <entry>
      <string>logRotator</string>
      <log-rotator-property>
        <originalValue class="hudson.tasks.LogRotator">
          <daysToKeep>-1</daysToKeep>
          <numToKeep>20</numToKeep>
          <artifactDaysToKeep>-1</artifactDaysToKeep>
          <artifactNumToKeep>5</artifactNumToKeep>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </log-rotator-property>
    </entry>
    <entry>
      <string>hudson-tasks-Mailer</string>
      <external-property>
        <originalValue class="hudson.tasks.Mailer">
          <recipients>david_williams@us.ibm.com</recipients>
          <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
          <sendToIndividuals>false</sendToIndividuals>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>cleanWorkspaceRequired</string>
      <boolean-property>
        <originalValue class="boolean">true</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </boolean-property>
    </entry>
    <entry>
      <string>hudson-tasks-junit-JUnitResultArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.junit.JUnitResultArchiver">
          <testResults>**/eclipse-testing/results/xml/*.xml</testResults>
          <keepLongStdio>true</keepLongStdio>
          <testDataPublishers/>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>false</modified>
      </external-property>
    </entry>
    <entry>
      <string>parametersDefinitionProperties</string>
      <copy-write-list-property>
        <originalValue class="hudson.util.CopyOnWriteList">
          <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
              <hudson.model.StringParameterDefinition>
                <name>buildId</name>
                <description>Build Id to test (such as I20120717-0800, N20120716-2000). </description>
                <defaultValue></defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>eclipseStream</name>
                <description>Full three fields of stream being tested (such as 4.3.0, 3.8.1, etc.)</description>
                <defaultValue>4.5.0</defaultValue>
              </hudson.model.StringParameterDefinition>
              <hudson.model.StringParameterDefinition>
                <name>EBUILDER_HASH</name>
                <description>Branch or hash of eclipse builder to fetch.</description>
                <defaultValue>master</defaultValue>
              </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
          </hudson.model.ParametersDefinitionProperty>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
      </copy-write-list-property>
    </entry>
    <entry>
      <string>hudson-plugins-build_timeout-BuildTimeoutWrapper</string>
      <external-property>
        <originalValue class="hudson.plugins.build_timeout.BuildTimeoutWrapper">
          <timeoutMinutes>901</timeoutMinutes>
          <failBuild>false</failBuild>
          <writingDescription>false</writingDescription>
          <timeoutPercentage>150</timeoutPercentage>
          <timeoutType>absolute</timeoutType>
          <timeoutMinutesElasticDefault>60</timeoutMinutesElasticDefault>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>jdk</string>
      <string-property>
        <originalValue class="string">jdk1.8.0-latest</originalValue>
        <propertyOverridden>false</propertyOverridden>
      </string-property>
    </entry>
    <entry>
      <string>hudson-tasks-ArtifactArchiver</string>
      <external-property>
        <originalValue class="hudson.tasks.ArtifactArchiver">
          <artifacts>**/eclipse-testing/results/**, **/eclipse-testing/directorLogs/**, *.properties, *.txt</artifacts>
          <compressionType>GZIP</compressionType>
          <latestOnly>false</latestOnly>
          <autoValidateFileMask>false</autoValidateFileMask>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>hudson-plugins-parameterizedtrigger-BuildTrigger</string>
      <external-property>
        <originalValue class="hudson.plugins.parameterizedtrigger.BuildTrigger">
          <configs>
            <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
              <configs>
                <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
                <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
                  <properties>triggeringJob=$JOB_NAME
triggeringBuildNumber=$BUILD_NUMBER
buildId=$buildId
eclipseStream=$eclipseStream
EBUILDER_HASH=$EBUILDER_HASH
</properties>
                </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              </configs>
              <projects>ep-collectResults</projects>
              <condition>UNSTABLE_OR_BETTER</condition>
              <triggerWithNoParameters>false</triggerWithNoParameters>
            </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          </configs>
        </originalValue>
        <propertyOverridden>false</propertyOverridden>
        <modified>true</modified>
      </external-property>
    </entry>
    <entry>
      <string>scm</string>
      <scm-property>
        <originalValue class="hudson.scm.NullSCM"/>
        <propertyOverridden>false</propertyOverridden>
      </scm-property>
    </entry>
  </project-properties>
  <keepDependencies>false</keepDependencies>
  <createdBy>david_williams</createdBy>
  <creationTime>1394312895619</creationTime>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Configure:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.ExtendedRead:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.ExtendedRead:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Delete:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Build:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Build:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Run.Update:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Run.Update:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Workspace:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:ROLE_ECLIPSE.PLATFORM.RELENG</permission>
      <permission>hudson.model.Item.Read:david_williams@us.ibm.com</permission>
      <permission>hudson.model.Item.Delete:david_williams@us.ibm.com</permission>
    </hudson.security.AuthorizationMatrixProperty>
  </properties>
  <cascadingChildrenNames class="java.util.concurrent.CopyOnWriteArraySet">
    <string>ep-unit-lin64</string>
    <string>ep-unit-mac64</string>
    <string>ep-unit-win32</string>
  </cascadingChildrenNames>
  <cascading-job-properties class="java.util.concurrent.CopyOnWriteArraySet">
    <string>hudson-plugins-disk_usage-DiskUsageProperty</string>
    <string>org-hudsonci-plugins-snapshotmonitor-WatchedDependenciesProperty</string>
  </cascading-job-properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>windows2012tests</authToken>
  <concurrentBuild>false</concurrentBuild>
  <cleanWorkspaceRequired>false</cleanWorkspaceRequired>
</project>