@import "../PRODUCT_PLUGIN/book.css";

span.control {
  font-weight: bold;
}

span.name {
  font-style: italic;
}

span.code {
  font-family: monospace;
}

p.nav_footer {
	font-weight: bold;
}

p.nav_footer a {
	font-weight: bold;
	font-style: italic;
}

span.token {
	color: green
}

table.border {
    border: 1px solid;
    border-collapse: collapse;
}
table.border th,
table.border td {
    border: 1px solid;
}

table.edged, tr, th, td {
    border: 1px solid;
    border-collapse: separate;
    border-style: inset;
}