h1, h2, h3, h4, h5, h6 {
     line-height: 1;
     /* font-size: 12px; */
     font-weight: bold;
}

h1 {
     font-size: 18px;
}

h2 {
     font-size: 16px;
}

h3 {
     font-size: 14px;
     clear: both;
     width: 90%;
     padding: 2px 2px 2px 2px;
}

table.testTable {
     border-collapse: collapse;
     border: 1px solid black;
     width: 90%;
}

.testTable caption {
     padding: 6px 2px 6px 2px;
}

.testTable th {
     text-align: center;
     padding: 2px;
     border: 1px solid black;
}

.testTable td {
     text-align: right;
     padding: 2px;
     border: 1px solid black;
}

div.dropSection {
     clear: both;
     width: 90%;
     margin-left: 5%;
     margin-right: 5%;
}

div.dropSection h3 {
     margin-left: 5%;
     margin-right: 5%;     
}

table.dropSection {
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
     border-collapse: collapse;
     border-spacing: 1px;
}

td, th {
     line-height: 1;
     padding: 1px;
     text-align: left;
     vertical-align: top;
}