div.gitLogSection {
     clear: both;
     width: 100%;
}

div.gitLogSection P {
     text-indent: 30pt;
     margin: inherit;
}

div.gitLogSection table {
     border-collapse: collapse;
     background-color: #d9d9d9;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-right: 10%;
     margin-left: 10%;
     border: 1px solid black;
     width: 1400px;
}

div.gitLogSection table tr {
     border-bottom: 1px solid black;
     background-color: #ffffff;
     color: black;
}

div.gitLogSection th {
     background-color: #9999CC;
}

div.gitLogSection h2, div.gitLogSection h3 {
     margin-left: 5%;
     margin-right: 5%;
}

div.gitLogSection table tr:nth-child(even) {
     background-color: #ededed
}
/* hover must come after "stripped" to have desired effect. */
div.gitLogSection table tr:hover {
     background-color: #a3a3e5;
}

div.gitLogSection table th, div.gitLogSection table td {
     padding: 1px 5px;
}

div.gitLogSection table th.cell {
     text-align: left;
     color: black;
}

div.gitLogSection table td.cell {
     text-align: left;
     width: 15em;
     color: black;
}

div.gitLogSection table th.datecell {
     text-align: left;
     color: black;
}

div.gitLogSection table td.datecell {
     text-align: left;
     color: black;
     width: 200px;
     text-overflow: ellipsis;
}

div.gitLogSection table th.authorcell {
     text-align: left;
     color: black;
}
     

div.gitLogSection table td.authorcell {
     text-align: left;
     width: 200px;
     color: black;
     text-overflow: ellipsis;
}

div.gitLogSection table th.commitcell {
     text-align: left;
     color: black;
}

div.gitLogSection table td.commitcell {
     text-align: left;
     width: 1000px;
     color: black;
     overflow: hidden;
     display: inline-block;
     white-space: nowrap;
     text-overflow: ellipsis;
}

div.gitLogSection table td.errorcell {
     text-align: left;
     width: 15em;
     color: red;
}

div.gitLogSection table td.namecell {
     text-align: left;
     width: 30em;
     color: black;
     white-space: nowrap;
}

