div.resultsSection {
     clear: both;
     width: 80%;
     margin-left: 10%;
     margin-right: 10%;
}

div.resultsSection P {
     text-indent: 30pt;
     margin: inherit;
}

div.resultsSection table {
     border-collapse: collapse;
     background-color: #d9d9d9;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-right: 10%;
     margin-left: 10%;
     border: 1px solid black;
}

div.resultsSection table tr {
     border-bottom: 1px solid black;
     background-color: #bcbccc;
     color: black;
}

div.resultsSection th {
     background-color: #9999CC;
}

div.resultsSection h1, h2, h3 {
     background-color: #9999CC;
}

div.resultsSection table tr:nth-child(even) {
     background-color: #f2f2f2
}
/* hover must come after "stripped" to have desired effect. */
div.resultsSection table tr:hover {
     background-color: #a3a3e5;
}

div.resultsSection table th, div.resultsSection table td {
     padding: 1px 5px;
}

div.resultsSection table th.cell {
     text-align: center;
     color: black;
}

div.resultsSection table td.cell {
     text-align: center;
     width: 15em;
     color: black;
}

div.resultsSection table td.errorcell {
     text-align: center;
     width: 15em;
     color: red;
}

div.resultsSection table td.namecell {
     text-align: left;
     width: 30em;
     color: black;
}