li.Steps { margin-top: 15px; margin-bottom: 15px; }
img.Big { margin-top: 15px; display: block; }
em.ProjectName { font-weight: bold; font-style: normal;}
em.FileName { font-weight: normal; font-style: italic;}
p.Tip {
	display: block;
	text-align: left;
	text-indent: 0pt;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 0.000000pt;
	margin-left: 30pt;
	font-weight: normal;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
div.FileContentsDescription {
	display: block;
	text-align: left;
	text-indent: 0pt;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 0.000000pt;
	margin-left: 15pt;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}
pre.FileContents {
	display: block;
	text-align: left;
	text-indent: 0pt;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 0.000000pt;
	margin-left: 30pt;
	font-weight: normal;
	font-style: Italic;
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	text-transform: none;
}