name: Check for and apply version increments

on:
  workflow_call:
    inputs:
      botName:
        description: The name of the bot that adds the necessary version increment changes
        type: string
        required: true
      botMail:
        description: The name of the bot that adds the necessary version increment changes
        type: string
        required: true
      extra-setup-command:
        description: Optional command executed initially to perform additional setup of the build environment
        type: string
        required: false
        default: ''
      extra-maven-args:
        description: Optional additional arguments to the maven call
        type: string
        required: false
        default: ''
      working-directory:
        description: Optional additional arguments to specify the directory in which maven build is executed
        type: string
        required: false
        default: '.'
      stream-version-property:
        description: Maven property name to use for determining the stream version in commit messages
        type: string
        required: false
        default: 'releaseNumberSDK'

permissions: {} # all none

env:
  MAVEN_ARGS: >-
    --batch-mode --no-transfer-progress

jobs:
  versions-check-and-increment:
    name: Check and increment service versions
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        fetch-depth: 0 # required for jgit timestamp provider to work

    - name: Set up Java
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 21
        distribution: 'temurin'

      # Use a dedicated cache to prevent conflicts with the verification build cache
    - name: Cache local Maven repository
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #v4.3.0
      with:
        path: ~/.m2/repository
        key: version-check-${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          version-check-${{ runner.os }}-maven-

    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.11

    - name: Additional setup
      if: inputs.extra-setup-command
      run: |
        ${{ inputs.extra-setup-command }}

    - name: Check and increment versions
      uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # master
      with:
        attempt_delay: 200
        attempt_limit: 10
        current_path: ${{ inputs.working-directory }}
        command: >
          mvn verify ${{ inputs.extra-maven-args }} -DskipTests -Dcompare-version-with-baselines.skip=false
          org.eclipse.tycho:tycho-versions-plugin:bump-versions -Dtycho.bump-versions.increment=100
          --update-snapshots --threads 1C --fail-at-end --show-version

    - name: Commit version increments, if any
      run: |
        set -x
        # Only stage files relevant for version increments and don't fail if the kind of file to be staged does not exist at all.
        git add '*/META-INF/MANIFEST.MF' || true
        git add '*/feature.xml' || true
        git add '*/pom.xml' || true
        if [[ $(git diff --name-only --cached) != '' ]]; then
          # Relevant files were staged, i.e. some version were changed
          
          # Read property as stream version
          pushd ${{ inputs.working-directory }}
          mvn help:evaluate -Dexpression=${{ inputs.stream-version-property }} ${{ inputs.extra-maven-args }} --quiet '-Doutput=streamVersion-value.txt'
          streamVersion=$(<streamVersion-value.txt)
          rm -f streamVersion-value.txt
          popd
          
          git config --global user.email '${{ inputs.botMail }}'
          git config --global user.name '${{ inputs.botName }}'
          git status
          git commit -m "Version bump(s) for ${streamVersion} stream"
          
          git format-patch -1 HEAD --no-stat --output 'version_increments.patch'
          
          echo '${{ github.event.pull_request.number }}' > 'github_pull_request_number.txt'
          
          echo "::error title=Version increments are missing::Required version increments are missing and a commit to apply them is about to be pushed to your PR's branch."
          exit 1
        else
          echo 'No version increments required'
        fi

    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      if: always()
      with:
        name: versions-git-patch
        path: |
          version_increments.patch
          github_pull_request_number.txt
