name: Maven Build
on:
  workflow_call:
    inputs:
      maven-goals:
        description: maven goals to use, defaults to 'clean verify'
        required: false
        default: 'clean verify'
        type: string
      submodules:
        description: |
          Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules.
          When the `ssh-key` input is not provided, SSH URLs beginning with `git@github.com:` are converted to HTTPS.
          The value is just passed as it is to the github/actions/checkout action: https://github.com/actions/checkout#usage
        type: string
        required: false
        default: 'false'
      mavenVersion:
        description: 'The version of Maven set up'
        type: string
        required: false
        default: '3.9.12'

permissions: {}

env:
  MAVEN_ARGS: >-
    --batch-mode --no-transfer-progress

jobs:
  event_file:
    name: "Upload Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: 
          - { name: Linux,   os: ubuntu-latest  }
          - { name: Windows, os: windows-latest }
          - { name: MacOS,   os: macos-14   }
    defaults:
      run: # Run on bash/cmd, because powershell (the Windows default) interprets dots in arguments differently
        shell: ${{ matrix.config.name == 'Windows' && 'cmd' || 'bash' }}

    name: Verify ${{ matrix.config.name }}
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
       fetch-depth: 0 # required for jgit timestamp provider to work
       submodules: ${{ inputs.submodules }}
    - name: Set up Java
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: |
          11
          17
          25
          21
        mvn-toolchain-id: |
          JavaSE-11
          JavaSE-17
          JavaSE-25
          JavaSE-21
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: ${{ inputs.mavenVersion }}

    - name: Build with Maven
      run: >-
        ${{ runner.os == 'Linux' && 'xvfb-run' || '' }}
        mvn --show-version --update-snapshots --errors
        -Dcompare-version-with-baselines.skip=false
        -Pbree-libs
        -Papi-check
        --fail-at-end
        ${{ inputs.maven-goals }}
    - name: Upload Test Results for ${{ matrix.config.name }}
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: test-results-${{ matrix.config.os }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
          ${{ github.workspace }}/**/results/**/*.png
