name: Maven Build
on:
  workflow_call:
    inputs:
      maven-goals:
        description: maven goals to use, defaults to 'clean verify'
        required: false
        default: 'clean verify'
        type: string
      submodules:
        description: |
          Whether to checkout submodules: `true` to checkout submodules or `recursive` to recursively checkout submodules.
          When the `ssh-key` input is not provided, SSH URLs beginning with `git@github.com:` are converted to HTTPS.
          The value is just passed as it is to the github/actions/checkout action: https://github.com/actions/checkout#usage
        type: string
        required: false
        default: 'false'
      mavenVersion: 
        description: 'The version of Maven set up'
        type: string
        required: false
        default: '3.9.7'

permissions: {}

jobs:
  event_file:
    name: "Upload Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: Event File
        path: ${{ github.event_path }}
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config: 
          - { name: Linux,   os: ubuntu-latest  }
          - { name: Windows, os: windows-latest }
          - { name: MacOS,   os: macos-13   }
    name: Verify ${{ matrix.config.name }}
    steps:
    - name: Checkout
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      with:
       fetch-depth: 0 # required for jgit timestamp provider to work
       submodules: ${{ inputs.submodules }}
    - name: Set up Java
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
      with:
        java-version: |
          8
          11
          17
          21
        mvn-toolchain-id: |
          JavaSE-1.8
          JavaSE-11
          JavaSE-17
          JavaSE-21
        distribution: 'temurin'
        cache: maven
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: ${{ inputs.mavenVersion }}
    - name: Download the API Tools matcher
      uses: suisei-cn/actions-download-file@818d6b7dc8fe73f2f924b6241f2b1134ca1377d9 # v1.6.0
      id: api-tools-matcher
      with:
        url: "https://raw.githubusercontent.com/eclipse-platform/eclipse.platform.releng.aggregator/master/.github/matcher/api-tools.json"
        target: .github/matcher
    - run: echo "::add-matcher::.github/matcher/${{ steps.api-tools-matcher.outputs.filename }}"
    - name: Build with Maven
      uses: coactions/setup-xvfb@6b00cf1889f4e1d5a48635647013c0508128ee1a
      with:
       run: >- 
        mvn --batch-mode -V -U -e
        -ntp
        -Dcompare-version-with-baselines.skip=false
        -Pbree-libs
        -Papi-check
        --fail-at-end
        ${{ inputs.maven-goals }}
    - name: Upload Test Results for ${{ matrix.config.name }}
      if: always()
      uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
      with:
        name: test-results-${{ matrix.config.os }}
        if-no-files-found: warn
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
          ${{ github.workspace }}/**/results/**/*.png
