name: Update For Next Release

on:
  workflow_call:
jobs:
  update:
    runs-on: ubuntu-latest
    if: contains(github.event.milestone.description, 'Release') 
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        ref: master
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.9
    - name: Set up JDK
      uses: actions/setup-java@7a6d8a8234af8eb26422e24e3006232cccaa061b # v4.6.0
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Update Versions
      run: >-
          mvn -U -B -ntp
          org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
          org.eclipse.tycho:tycho-versions-plugin:set-parent-version -DnewParentVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
    - name: Create Pull Request for Release ${{ github.event.milestone.title }}
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      with:
        commit-message: Update for release ${{ github.event.milestone.title }}
        branch: update_R${{ github.event.milestone.title }}
        title: Update for release ${{ github.event.milestone.title }}
        body: A new release milstone was created, please review the changes and merge if appropriate.
        delete-branch: true
        milestone: ${{ github.event.milestone.number }}
        add-paths: |
            pom.xml
            **/pom.xml
