name: Update For Next Release

on:
  workflow_call:
jobs:
  update:
    runs-on: ubuntu-latest
    if: contains(github.event.milestone.description, 'Release') 
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        fetch-depth: 0
        ref: master
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.9
    - name: Set up JDK
      uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Update Versions
      run: >-
          mvn -U -Pbuild-individual-bundles -ntp
          org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
          org.eclipse.tycho:tycho-versions-plugin:set-parent-version -DnewParentVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
    - name: Build and Bump Versions
      uses: Wandalen/wretry.action@ce976ac9e7829ca3ea99b08c4511077d2677a653 # master
      with:
        attempt_delay: 120000
        attempt_limit: 10
        command: >-
            mvn -U -Pbuild-individual-bundles -ntp
            clean verify
            -DskipTests
            -Dcompare-version-with-baselines.skip=false
            org.eclipse.tycho:tycho-versions-plugin:bump-versions -Dtycho.bump-versions.increment=100
    - name: Create Pull Request for Release ${{ github.event.milestone.title }}
      uses: peter-evans/create-pull-request@5e914681df9dc83aa4e4905692ca88beb2f9e91f # v7.0.5
      with:
        commit-message: Update for release ${{ github.event.milestone.title }}
        branch: update_R${{ github.event.milestone.title }}
        title: Update for release ${{ github.event.milestone.title }}
        body: A new release milstone was created, please review the changes and merge if appropriate.
        delete-branch: true
        milestone: ${{ github.event.milestone.number }}
        add-paths: |
            pom.xml
            **/pom.xml
            **/*.MF

