name: Update For Next Release

on:
  workflow_call:
jobs:
  update:
    runs-on: ubuntu-latest
    if: contains(github.event.milestone.description, 'Release') 
    steps:
    - uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      with:
        fetch-depth: 0
        ref: master
    - name: Set up Maven
      uses: stCarolas/setup-maven@07fbbe97d97ef44336b7382563d66743297e442f # v4.5
      with:
        maven-version: 3.9.6
    - name: Set up JDK
      uses: actions/setup-java@9704b39bf258b59bc04b50fa2dd55e9ed76b47a8 # v4.1.0
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Update Versions
      run: >-
          mvn -U -Pbuild-individual-bundles -ntp
          org.eclipse.tycho:tycho-versions-plugin:4.0.6:set-version -DnewVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
          org.eclipse.tycho:tycho-versions-plugin:4.0.6:set-parent-version -DnewParentVersion=${{ github.event.milestone.title }}.0-SNAPSHOT
    - name: Build and Bump Versions
      uses: Wandalen/wretry.action@f1ef3f2629b067ead8e23abc5c38abaec4413d2a # master
      with:
        attempt_delay: 120000
        attempt_limit: 10
        command: >-
            mvn -U -Pbuild-individual-bundles -ntp
            clean verify
            -DskipTests
            -Dcompare-version-with-baselines.skip=false
            org.eclipse.tycho:tycho-versions-plugin:4.0.6:bump-versions -Dtycho.bump-versions.increment=100
    - name: Create Pull Request for Release ${{ github.event.milestone.title }}
      uses: peter-evans/create-pull-request@a4f52f8033a6168103c2538976c07b467e8163bc # v6.0.1
      with:
        commit-message: Update for release ${{ github.event.milestone.title }}
        branch: update_R${{ github.event.milestone.title }}
        title: Update for release ${{ github.event.milestone.title }}
        body: A new release milstone was created, please review the changes and merge if appropriate.
        delete-branch: true
        milestone: ${{ github.event.milestone.number }}
        add-paths: |
            pom.xml
            **/pom.xml
            **/*.MF

