name: Update Target Platform

on:
  workflow_call:
    inputs:
      author:
        description: Defines the committer / author that should be used for the commit
        required: false
        type: string
        default: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
      path:
        description: Defines the path where the target file to update is located
        required: true
        type: string
      branch:
        description: The branch, tag or SHA to checkout
        required: false
        type: string
        default: ''
    secrets:
      token:
        description: Personal Access Token to use for creating pull-requests
        required: true
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0
        ref: ${{ inputs.branch }}
    - name: Set up Maven
      uses: stCarolas/setup-maven@d6af6abeda15e98926a57b5aa970a96bb37f97d1 # v5
      with:
        maven-version: 3.9.11
    - name: Set up JDK
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Update Target Platform
      working-directory: ${{ inputs.path }} 
      run: >-
          mvn -ntp --non-recursive tycho-version-bump:update-target@update-target
    - name: Create PR description file if missing
      if: ${{ hashFiles(format('{0}/target/targetUpdates.md', inputs.path)) == '' }}
      working-directory: ${{ inputs.path }}
      run: |
          mkdir -p target
          echo '## Everything is up to date' > target/targetUpdates.md
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
      with:
        commit-message: Update target-platform with latest version
        branch: update_target
        title: Dependency Updates
        body-path: ${{ inputs.path }}/target/targetUpdates.md
        delete-branch: true
        draft: false
        token: ${{ secrets.token }}
        committer: ${{ inputs.author }}
        author: ${{ inputs.author }}
        add-paths: |
            **/*.target
